.btn-gho-1 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 8px 24px;
  border: 2px solid white;
  background-color: rgba(255,255,255,0);
  color: white;
}

.btn-gho-1:hover {
  cursor: pointer;
  font-weight: 700;
  border: 3px solid white;
}

.btn-gho-1:focus {
  outline: none;
}

/*button #3*/
.btn-gho-2 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 8px 24px;
  border: 2px solid white;
  background-color: rgba(255,255,255,0);
  color: white;
  border-radius: 18px;
}

.btn-gho-2:hover {
  cursor: pointer;
  font-weight: 700;
  border: 3px solid white;
}

.btn-gho-2:focus {
  outline: none;
}
