
/*GENERAL PAGE STYLING*/

* {
  font-family: 'Muli', sans-serif;
  color: rgba(119,136,153,1);
}

hr {
  border: 1px solid rgba(119,136,153, 0.15);
}

h1 {
  letter-spacing: 1px;
}

/*-------------- DEFAULT BUTTON STYLING --------------*/

button {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 8px 24px;
  background-color: rgba(83,109,254,1);
  border: 2px solid rgba(83,109,254,1);
  color: white;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

/*-------------- DEFAULT BUTTON COLORS --------------*/

.blue, .blue:hover {
  border: 2px solid rgba(0,176,255,1);
  background-color: rgba(0,176,255,1);
}

.grey, .grey:hover {
  border: 2px solid rgba(119,136,153,1);
  background-color: rgba(119,136,153,1);
}

.green, .green:hover {
  border: 2px solid rgba(2,184,117,1);
  background-color: rgba(2,184,117,1);
}

.gold, .gold:hover {
  border: 2px solid rgba(255,160,0,1);
  background-color: rgba(255,160,0,1);
}

.red, .red:hover {
  border: 2px solid rgba(255,23,68,1);
  background-color: rgba(255,23,68,1);
}

/*-------------- LIGHT BUTTON COLORS --------------*/

.indigo-light, .indigo-light:hover {
  border: 2px solid rgba(83,109,254,1);
  background-color: white;
  color: rgba(83,109,254,1);
}

.blue-light, .blue-light:hover {
  border: 2px solid rgba(0,176,255,1);
  background-color: white;
  color: rgba(0,176,255,1);
}

.grey-light, .grey-light:hover {
  border: 2px solid rgba(119,136,153,1);
  background-color: white;
  color: rgba(119,136,153,1);
}

.green-light, .green-light:hover {
  border: 2px solid rgba(2,184,117,1);
  background-color: white;
  color: rgba(2,184,117,1);
}

.gold-light, .gold-light:hover {
  border: 2px solid rgba(255,160,0,1);
  background-color: white;
  color: rgba(255,160,0,1);
}

.red-light, .red-light:hover {
  border: 2px solid rgba(255,23,68,1);
  background-color: white;
  color: rgba(255,23,68,1);
}

.ghost, .ghost-hover {
  border: 2px solid white;
  background-color: rgba(255,255,255,0);
  color: white;
}

/*-------------- ADDITIONAL BUTTON STYLING --------------*/

.disabled {
  opacity: 0.5;
}

.disabled:hover {
  cursor: not-allowed;
  font-weight: 600;
}

.round {
  border-radius: 18px;
}



/*-------------- STICKIES, TAGS, BADGES --------------*/



/*-------------- DEFAULT STICKY STYLING --------------*/

sticky {
  display: inline;
  text-align: center;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 4px 10px;
  background-color: rgba(83,109,254,1);
  border: 2px solid rgba(83,109,254,1);
  color: white;
  cursor: default;
}

/*-------------- DEFAULT TAG STYLING --------------*/

tag {
  display: inline;
  text-align: center;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 600;
  text-transform: lowercase;
  padding: 3px 9px;
  background-color: rgba(83,109,254,1);
  color: white;
  border: 2px solid rgba(83,109,254,1);
}

tag:hover {
  cursor: pointer;
  background-color: rgba(83,109,254,1);
}

tag:focus {
  outline: none;
}

/*-------------- DEFAULT BADGE STYLING --------------*/

badge {
  display: inline;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  padding: 4px 9px;
  border: 2px solid rgba(83,109,254,1);
  background-color: rgba(83,109,254,1);
  color: white;
  cursor: default;
}
