.btn-ter-1 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 8px 24px;
  border: 2px solid rgba(119,136,153, 1);
  background-color: white;
  color: rgba(119,136,153, 1);
}

.btn-ter-1:hover {
  cursor: pointer;
  border: 3px solid rgba(119,136,153, 1);
  font-weight: 700;
}

.btn-ter-1:focus {
  outline: none;
}

/*button #2*/
.btn-ter-2 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 8px 24px;
  background-color: rgba(119,136,153, 1);
  color: white;
  border: 2px solid rgba(119,136,153, 1);
}

.btn-ter-2:hover {
  cursor: pointer;
  background-color: rgba(119,136,153, 1);
}

.btn-ter-2:focus {
  outline: none;
}

/*button #3*/
.btn-ter-3 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 8px 24px;
  border: 2px solid rgba(119,136,153, 1);
  background-color: white;
  color: rgba(119,136,153, 1);
  border-radius: 18px;
}

.btn-ter-3:hover {
  cursor: pointer;
  border: 3px solid rgba(119,136,153, 1);
  font-weight: 700;
}

.btn-ter-3:focus {
  outline: none;
}

/*button #4*/
.btn-ter-4 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 8px 24px;
  background-color: rgba(119,136,153, 1);
  color: white;
  border: 2px solid rgba(119,136,153, 1);
  border-radius: 18px;
}

.btn-ter-4:hover {
  cursor: pointer;
  background-color: rgba(119,136,153, 1);
}

.btn-ter-4:focus {
  outline: none;
}
