.btn-war-1 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 8px 24px;
  border: 2px solid rgba(255,160,0, 1);
  background-color: white;
  color: rgba(255,160,0, 1);
}

.btn-war-1:hover {
  cursor: pointer;
  border: 3px solid rgba(255,160,0, 1);
  font-weight: 700;
}

.btn-war-1:focus {
  outline: none;
}

/*button #2*/
.btn-war-2 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 8px 24px;
  background-color: rgba(255,160,0, 1);
  color: white;
  border: 2px solid rgba(255,160,0, 1);
}

.btn-war-2:hover {
  cursor: pointer;
  background-color: rgba(255,160,0, 1);
}

.btn-war-2:focus {
  outline: none;
}

/*button #3*/
.btn-war-3 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 8px 24px;
  border: 2px solid rgba(255,160,0, 1);
  background-color: white;
  color: rgba(255,160,0, 1);
  border-radius: 18px;
}

.btn-war-3:hover {
  cursor: pointer;
  border: 3px solid rgba(255,160,0, 1);
  font-weight: 700;
}

.btn-war-3:focus {
  outline: none;
}

/*button #4*/
.btn-war-4 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 8px 24px;
  background-color: rgba(255,160,0, 1);
  color: white;
  border: 2px solid rgba(255,160,0, 1);
  border-radius: 18px;
}

.btn-war-4:hover {
  cursor: pointer;
  background-color: rgba(255,160,0, 1);
}

.btn-war-4:focus {
  outline: none;
}
