
/*GENERAL PAGE STYLING*/

  #container {
    padding-top: 5%;
    padding-bottom: 10%;
    margin: auto;
    width: 80%;
  }

  #example {
    border-width: 1px 1px 1px 15px;
    border-color: #8698f9;
    border-style: solid;
    padding: 2%;
    box-shadow: 1px 1px 8px slategrey;
    text-align: center;
    overflow: scroll;
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 2% 0;
  }

  /*to display "ghost" buttons*/
  .backdrop {background-color: rgba(83,109,254,1);}


    /*---------- TOP NAVBAR STYLING ----------*/


    /* Remove margins and padding from the list, and add a black background color */
    ul.topnav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: visible;
        background-color: rgba(255,255,255,0.75);
        border-bottom: 1px solid rgba(83,109,254,0.3);
        position: fixed;
        width: 100%;
        z-index: 1;

    }

    /* Float the list items side by side */
    ul.topnav li {float: left; padding: 0% !important;}

    /* Style the links inside the list items */
    ul.topnav li a, ul.topnav li span {
        display: inline-block;
        text-align: center;
        padding: 18px 22px;
        text-decoration: none;
        transition: 0.3s;
        color: rgba(83,109,254,1);
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 400;
        cursor: pointer;
    }

    /* Change background color of links on hover */
    ul.topnav li a:hover, ul.topnav li span:hover {background-color: rgba(83,109,254,0.5); color: white; border-bottom: none !important;}

    /* Hide the list item that contains the link that should open and close the topnav on small screens */
    ul.topnav li.icon {display: none;}

    /* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
    @media screen and (max-width:680px) {
      ul.topnav li:not(:first-child) {display: none;}
      ul.topnav li.icon {
        float: right;
        display: inline-block;
      }
    }

    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
    @media screen and (max-width:680px) {
      ul.topnav.responsive {position: relative;}
      ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      ul.topnav.responsive li {float: none; display: inline;}
      ul.topnav.responsive li a {display: block; text-align: left;}
    }


    /* -------- DROPDOWN MENU --------- */


    .dropdown {display: inline-block;}

    .dropdown div.content {
      position: absolute;
      display: none;
      background-color: white;
      box-shadow: 2px 2px 8px slategrey;
    }

    .dropdown div.border {border: 1px solid rgba(119,136,153,0.5); box-shadow: none;}

    .dropdown div.underline a {border-bottom: 1px solid rgba(119,136,153,0.3);}

    div.content a {
      display: block !important;
      text-align: left !important;
      padding: 10px !important;
      min-width: 160px;
      overflow: auto;
      color: #333;
      font-weight: 400;
    }

    div.content a:hover {background-color: rgba(119,136,153,0.5); color: white !important;
    }

    div.content a.divide {border-top: 1px solid rgba(119,136,153,0.3);}

    div.content a.highlight {background-color: rgba(119,136,153,0.5); color: white !important;}
