
/*====== GENERAL PAGE STYLING ======*/

* {font-family: 'Muli', sans-serif; box-sizing: border-box;}

ul {list-style-type: circle;}

ol {list-style-type: decimal;}

hr {
  margin: 2.5% 0;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(83,109,254,0.3);
}

h1, h2, h3, h4, h5, h6 {letter-spacing: 1px; font-weight: 600; margin-bottom: 2.5%;}


/*========== FORM INPUT STYLING ==========*/


input[type=text] {
  height: 34px;
  width: 280px;
  border: 1px solid rgba(83,109,254,0.5);
  border-radius: 0;
  padding: 0 1%;
  font-size: 0.8em;
}
input[type=text]:focus {outline: none; border: 1px solid rgba(83,109,254,1);}


/*========== ANCHOR TAG STYLING ==========*/

/*---------- PLAIN TEXT ANCHOR TAG ----------*/


a.text-link {
  font-weight: 600;
  text-decoration: none;
  color: rgba(83,109,254,1);
}
a.text-link:hover {
  border-width: 0 0 1px 0;
  border-style: dashed;
  border-color: rgba(83,109,254,1);
}


/*---------- ANCHOR BUTTON STYLING ----------*/


a.btn-link {
  margin: 1% 0.5% !important;
  white-space: nowrap;
  display: inline-block;
  box-sizing: border-box;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(83,109,254,1);
  box-shadow: 0 0 0 2px rgba(83,109,254,1);
  background-color: rgba(83,109,254,1);
  color: white;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  padding: 7px 24px;
}

a.btn-link span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
a.btn-link span:after {
  content: '\00bb';
  font-size: inherit;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
a.btn-link:hover span {padding-right: 20px;}
a.btn-link:hover span:after {opacity: 1; right: 0;}
a.btn-link:active {opacity: 0.5; outline: none;}
a.btn-link:focus {outline: none;}


/*---------- ADDITIONAL ANCHOR BUTTON SIZES ----------*/

/*
LARGE
*/

a.lrg-btn-link {
  font-size: 0.95em;
  font-weight: 400;
  border-radius: 8px;
  border-width: 2px;
  letter-spacing: 2px;
  padding: 9px 32px;
}

a.lrg-btn-link span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
a.lrg-btn-link span:after {
  content: '\00bb';
  font-size: inherit;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -25px;
  transition: 0.5s;
}
a.lrg-btn-link:hover span {padding-right: 25px;}
a.lrg-btn-link:hover span:after {opacity: 1; right: 0;}
a.lrg-btn-link:active {opacity: 0.5; outline: none;}
a.lrg-btn-link:focus {outline: none;}

/*
HUGE
*/

a.huge-btn-link {
  font-size: 1.2em;
  font-weight: 400;
  border-radius: 10px;
  border-width: 2px;
  letter-spacing: 2px;
  padding: 11px 40px;
}
a.huge-btn-link span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
a.huge-btn-link span:after {
  content: '\00bb';
  font-size: inherit;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}
a.huge-btn-link:hover span {padding-right: 30px;}
a.huge-btn-link:hover span:after {opacity: 1; right: 0;}
a.huge-btn-link:active {opacity: 0.5; outline: none;}
a.huge-btn-link:focus {outline: none;}


/*========== TEXT COLORS ==========*/


.indigo-text, .indigo-text:hover {
  color: rgba(83,109,254,1) !important;
  border-color: rgba(83,109,254,1) !important;
}

.blue-text, .blue-text:hover {
  color: rgba(0,176,255,1) !important;
  border-color: rgba(0,176,255,1) !important;
}

.grey-text, .grey-text:hover {
  color: rgba(119,136,153,1) !important;
  border-color: rgba(119,136,153,1) !important;
}

.green-text, .green-text:hover {
  color: rgba(2,184,117,1) !important;
  border-color: rgba(2,184,117,1) !important;
}

.gold-text, .gold-text:hover {
  color: rgba(255,160,0,1) !important;
  border-color: rgba(255,160,0,1) !important;
}

.red-text, .red-text:hover {
  color: rgba(255,23,68,1) !important;
  border-color: rgba(255,23,68,1) !important;
}

.orange-text, .orange-text:hover {
  color: rgba(255,109,0,1) !important;
  border-color: rgba(255,109,0,1) !important;
}

.black-text, .black-text:hover {
  color: rgba(38,50,56,1) !important;
  border-color: rgba(38,50,56,1) !important;
}

.purple-text, .purple-text:hover {
  color: rgba(170,0,255,1) !important;
  border-color: rgba(170,0,255,1) !important;
}

.pink-text, .pink-text:hover {
  color: rgba(240,98,146,1) !important;
  border-color: rgba(240,98,146,1) !important;
}

.white-text, .white-text:hover {
  color: white !important;
  border-color: white !important;
}


/*========== BUTTON STYLING ==========*/


button,
input[type=submit],
input[type=reset],
input[type=button] {
  margin: 1% 0.5% !important;
  white-space: nowrap;
  display: inline-block;
  box-sizing: border-box;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(83,109,254,1);
  box-shadow: 0 0 0 2px rgba(83,109,254,1);
  background-color: rgba(83,109,254,1);
  color: white;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  padding: 7px 24px;
}

button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover {opacity: 0.8;}

button:active,
input[type=submit]:active,
input[type=reset]:active,
input[type=button]:active {opacity: 0.6; outline: none;}

button:focus,
input[type=submit]:focus,
input[type=reset]:focus,
input[type=button]:focus {outline: none;}


/*---------- ADDITIONAL BUTTON SIZES ----------*/

button.micro-btn,
input[type=submit].micro-btn,
input[type=reset].micro-btn,
input[type=button].micro-btn {
  font-size: 0.5em;
  font-weight: 600;
  border-width: 1px;
  border-radius: 3px;
  letter-spacing: 1px;
  padding: 2px 7px 2px 8px;
}

button.tiny-btn,
input[type=submit].tiny-btn,
input[type=reset].tiny-btn,
input[type=button].tiny-btn {
  font-size: 0.65em;
  font-weight: 600;
  border-radius: 4px;
  border-width: 2px;
  letter-spacing: 1px;
  padding: 3px 12px 2px 12px;
}

button.small-btn,
input[type=submit].small-btn,
input[type=reset].small-btn,
input[type=button].small-btn {
  font-size: 0.75em;
  font-weight: 400;
  border-radius: 5px;
  border-width: 2px;
  letter-spacing: 1px;
  padding: 5px 18px;
}

/*

DEFAULT BUTTON GOES HERE

*/

button.lrg-btn,
input[type=submit].lrg-btn,
input[type=reset].lrg-btn,
input[type=button].lrg-btn {
  font-size: 0.95em;
  font-weight: 400;
  border-radius: 8px;
  border-width: 2px;
  letter-spacing: 2px;
  padding: 9px 32px;
}

button.huge-btn,
input[type=submit].huge-btn,
input[type=reset].huge-btn,
input[type=button].huge-btn {
  font-size: 1.2em;
  font-weight: 400;
  border-radius: 10px;
  border-width: 2px;
  letter-spacing: 2px;
  padding: 11px 40px;
}


/*========== ADDITIONAL COLORS ==========*/


.blue, .blue:hover {
  border-color: rgba(0,176,255,1) !important;
  background-color: rgba(0,176,255,1) !important;
  box-shadow: 0 0 0 2px rgba(0,176,255,1) !important;
}

.grey, .grey:hover {
  border-color: rgba(119,136,153,1) !important;
  background-color: rgba(119,136,153,1) !important;
  box-shadow: 0 0 0 2px rgba(119,136,153,1) !important;
}

.green, .green:hover {
  border-color: rgba(2,184,117,1) !important;
  background-color: rgba(2,184,117,1) !important;
  box-shadow: 0 0 0 2px rgba(2,184,117,1) !important;
}

.gold, .gold:hover {
  border-color: rgba(255,160,0,1) !important;
  background-color: rgba(255,160,0,1) !important;
  box-shadow: 0 0 0 2px rgba(255,160,0,1) !important;
}

.orange, .orange:hover {
  border-color: rgba(255,109,0,1) !important;
  background-color: rgba(255,109,0,1) !important;
  box-shadow: 0 0 0 2px rgba(255,109,0,1) !important;
}

.red, .red:hover {
  border-color: rgba(255,23,68,1) !important;
  background-color: rgba(255,23,68,1) !important;
  box-shadow: 0 0 0 2px rgba(255,23,68,1) !important;
}

.black, .black:hover {
  border-color: rgba(38,50,56,1) !important;
  background-color: rgba(38,50,56,1) !important;
  box-shadow: 0 0 0 2px rgba(38,50,56,1) !important;
}

.purple, .purple:hover {
  border-color: rgba(170,0,255,1) !important;
  background-color: rgba(170,0,255,1) !important;
  box-shadow: 0 0 0 2px rgba(170,0,255,1) !important;
}

.pink, .pink:hover {
  border-color: rgba(240,98,146,1) !important;
  background-color: rgba(240,98,146,1) !important;
  box-shadow: 0 0 0 2px rgba(240,98,146,1) !important;
}


/*-------------- INVERTED COLORS --------------*/


.indigo-light, .indigo-light:hover {
  border-color: white !important;
  background-color: white !important;
  color: rgba(83,109,254,1) !important;
  box-shadow: 0 0 0 2px rgba(83,109,254,1) !important;
}

.blue-light, .blue-light:hover {
  border-color: white !important;
  background-color: white !important;
  color: rgba(0,176,255,1) !important;
  box-shadow: 0 0 0 2px rgba(0,176,255,1) !important;
}

.grey-light, .grey-light:hover {
  border-color: white !important;
  background-color: white !important;
  color: rgba(119,136,153,1) !important;
  box-shadow: 0 0 0 2px rgba(119,136,153,1) !important;
}

.green-light, .green-light:hover {
  border-color: white !important;
  background-color: white !important;
  color: rgba(2,184,117,1) !important;
  box-shadow: 0 0 0 2px rgba(2,184,117,1) !important;
}

.gold-light, .gold-light:hover {
  border-color: white !important;
  background-color: white !important;
  color: rgba(255,160,0,1) !important;
  box-shadow: 0 0 0 2px rgba(255,160,0,1) !important;
}

.red-light, .red-light:hover {
  border-color: white !important;
  background-color: white !important;
  color: rgba(255,23,68,1) !important;
  box-shadow: 0 0 0 2px rgba(255,23,68,1) !important;
}

.orange-light, .orange-light:hover {
  border-color: white !important;
  background-color: white !important;
  color: rgba(255,109,0,1) !important;
  box-shadow: 0 0 0 2px rgba(255,109,0,1) !important;
}

.black-light, .black-light:hover {
  border-color: white !important;
  background-color: white !important;
  color: rgba(38,50,56,1) !important;
  box-shadow: 0 0 0 2px rgba(38,50,56,1) !important;
}

.purple-light, .purple-light:hover {
  border-color: white !important;
  background-color: white !important;
  color: rgba(170,0,255,1) !important;
  box-shadow: 0 0 0 2px rgba(170,0,255,1) !important;
}

.pink-light, .pink-light:hover {
  border-color: white !important;
  background-color: white !important;
  color: rgba(240,98,146,1) !important;
  box-shadow: 0 0 0 2px rgba(240,98,146,1) !important;
}

.ghost, .ghost:hover {
  border-color: rgba(255,255,255,0);
  background-color: rgba(255,255,255,0);
  color: white;
  box-shadow: 0 0 0 2px white !important;
}


/*========== ADDITIONAL BUTTON STYLES ==========*/


.pill {border-radius: 999px !important;}

.square {border-radius: 0 !important;}


/*========== DEFAULT STICKY STYLING ==========*/


sticky {
  margin: 1% 0.5% !important;
  display: inline-block;
  white-space: nowrap;
  box-sizing: border-box;
  letter-spacing: 1px;
  text-align: center;
  font-size: 0.8em;
  font-weight: 400;
  padding: 3px 6px;
  box-shadow: 0 0 0 2px rgba(83,109,254,1);
  background-color: rgba(83,109,254,1);
  border: 2px solid rgba(83,109,254,1);
  color: white;
  cursor: default;
  border-radius: 4px;
}

/*-------------- ADDITIONAL STICKY SIZES --------------*/

sticky.micro-sti, sticky.micro-sti:hover {
  font-size: 0.3em;
  font-weight: 600;
  padding: 0px 2px;
  border-radius: 2px;
}

sticky.tiny-sti, sticky.tiny-sti:hover {
  font-size: 0.6em;
  font-weight: 600;
  padding: 1px 4px;
  border-radius: 3px;
}

sticky.small-sti, sticky.small-sti:hover {
  font-size: 0.7em;
  font-weight: 400;
  padding: 2px 4px;
  border-radius: 4px;
}

/*
DEFAULT STICKY GOES HERE
font-size: 0.8em;
font-weight: 400;
text-transform: uppercase;
padding: 0px 8px;
*/

sticky.lrg-sti, sticky.lrg-sti:hover {
  font-size: 1em;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
  letter-spacing: 1px;
}

sticky.huge-sti, sticky.huge-sti:hover {
  font-size: 1.1em;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 5px;
  letter-spacing: 1px;
}

/*========== DEFAULT BADGE STYLING ==========*/


badge {
  margin: 1% 0.5% !important;
  display: inline-block;
  white-space: nowrap;
  box-sizing: border-box;
  letter-spacing: 1px;
  text-align: center;
  font-size: 0.95em;
  font-weight: 600;
  padding: 3px 8px 1px 8px;
  box-shadow: 0 0 0 2px rgba(83,109,254,1);
  background-color: rgba(83,109,254,1);
  border: 2px solid rgba(83,109,254,1);
  color: white;
  cursor: default;
  border-radius: 4px;
}

/*-------------- ADDITIONAL BADGE SIZES --------------*/

badge.micro-bdg, badge.micro-bdg:hover {
  font-size: 0.4em;
  font-weight: 700;
  border-radius: 3px;
  padding: 0px 3px;
}

badge.tiny-bdg, badge.tiny-bdg:hover {
  font-size: 0.7em;
  font-weight: 700;
  border-radius: 3px;
  padding: 0px 4px 0px 5px;
}

badge.small-bdg, badge.small-bdg:hover {
  font-size: 0.85em;
  font-weight: 600;
  border-radius: 4px;
  padding: 1px 6px 1px 7px;
}

badge.lrg-bdg, badge.lrg-bdg:hover {
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 5px;
  letter-spacing: 1px;
  padding: 2px 9px 2px 10px;
}

badge.huge-bdg, badge.huge-bdg:hover {
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 5px;
  letter-spacing: 1px;
  padding: 3px 11px 2px 13px;
}
