
/*GENERAL PAGE STYLING*/

* {
  font-family: 'Muli', sans-serif;
  line-height: 150%;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: circle;
  line-height: 200%;
}

p {
  font-size: 1em;
  font-weight: 400;
}

hr {
  border: 1px solid rgba(119,136,153, 0.15);
  margin: 3% 0;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
  line-height: 200%;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}

a.link {
  font-weight: 700;
  text-decoration: none;
  color: rgba(83,109,254,1);
}

a.link:hover {
  border-bottom: 1px dashed rgba(83,109,254,1);
  cursor: pointer;
}

a.link:focus {
  border: 1px dashed rgba(83,109,254,1);
  padding: 2px 4px;
}

/*-------------- DEFAULT BUTTON STYLING --------------*/

button {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 16px;
  text-align: center;
  /*padding: 1% 2%;*/
  background-color: rgba(83,109,254,1);
  border-width: 3px;
  border-style: solid;
  border-color: rgba(83,109,254,1);
  color: white;
  border-radius: 8px;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

button:hover {opacity: 0.75;}
button:active {opacity: 0.3; outline: none;}
button:focus {outline: none;}

/*---------- ADDITIONAL BUTTON SIZING ----------*/

.med-btn, .med-btn:hover {
  font-size: 1.3em;
  font-weight: 700;
  padding: 15px 24px;
  /*padding: 1.25% 2.25%;*/
  border-radius: 10px;
  border-width: 3px;
}

.lrg-btn, .lrg-btn:hover {
  letter-spacing: 2px !important;
  font-size: 1.6em;
  font-weight: 700;
  padding: 20px 32px;
  /*padding: 1.5% 2.5%;*/
  border-radius: 12px;
  border-width: 4px;
}

/*-------------- DEFAULT BUTTON COLORS --------------*/

.blue, .blue:hover {
  border-color: rgba(0,176,255,1);
  border-style: solid;
  background-color: rgba(0,176,255,1);
}

.grey, .grey:hover {
  border-color: rgba(119,136,153,1);
  border-style: solid;
  background-color: rgba(119,136,153,1);
}

.green, .green:hover {
  border-color: rgba(2,184,117,1);
  border-style: solid;
  background-color: rgba(2,184,117,1);
}

.gold, .gold:hover {
  border-color: rgba(255,160,0,1);
  border-style: solid;
  background-color: rgba(255,160,0,1);
}

.orange, .orange:hover {
  border-color: rgba(255,109,0,1);
  border-style: solid;
  background-color: rgba(255,109,0,1);
}

.red, .red:hover {
  border-color: rgba(255,23,68,1);
  border-style: solid;
  background-color: rgba(255,23,68,1);
}

.black, .black:hover {
  border-color: rgba(38,50,56,1);
  border-style: solid;
  background-color: rgba(38,50,56,1);
}

.purple, .purple:hover {
  border-color: rgba(170,0,255,1);
  border-style: solid;
  background-color: rgba(170,0,255,1);
}

.pink, .pink:hover {
  border-color: rgba(240,98,146,1);
  border-style: solid;
  background-color: rgba(240,98,146,1);
}

/*-------------- LIGHT BUTTON COLORS --------------*/

.indigo-light, .indigo-light:hover {
  border-color: rgba(83,109,254,1);
  border-style: solid;
  background-color: white;
  color: rgba(83,109,254,1);
}

.blue-light, .blue-light:hover {
  border-color: rgba(0,176,255,1);
  border-style: solid;
  background-color: white;
  color: rgba(0,176,255,1);
}

.grey-light, .grey-light:hover {
  border-color: rgba(119,136,153,1);
  border-style: solid;
  background-color: white;
  color: rgba(119,136,153,1);
}

.green-light, .green-light:hover {
  border-color: rgba(2,184,117,1);
  border-style: solid;
  background-color: white;
  color: rgba(2,184,117,1);
}

.gold-light, .gold-light:hover {
  border-color: rgba(255,160,0,1);
  border-style: solid;
  background-color: white;
  color: rgba(255,160,0,1);
}

.red-light, .red-light:hover {
  border-color: rgba(255,23,68,1);
  border-style: solid;
  background-color: white;
  color: rgba(255,23,68,1);
}

.orange-light, .orange-light:hover {
  border-color: rgba(255,109,0,1);
  border-style: solid;
  background-color: white;
  color: rgba(255,109,0,1);
}

.black-light, .black-light:hover {
  border-color: rgba(38,50,56,1);
  border-style: solid;
  background-color: white;
  color: rgba(38,50,56,1);
}

.purple-light, .purple-light:hover {
  border-color: rgba(170,0,255,1);
  border-style: solid;
  background-color: white;
  color: rgba(170,0,255,1);
}

.pink-light, .pink-light:hover {
  border-color: rgba(240,98,146,1);
  border-style: solid;
  background-color: white;
  color: rgba(240,98,146,1);
}

/*-------------- ADDITIONAL BUTTON STYLING --------------*/

.raised, .raised:hover {
  box-shadow: 3px 3px 3px rgba(119,136,153,1);
  margin: 0 2px;
}

.pill {border-radius: 60px !important;}

.square {border-radius: 0 !important;}

.ghost, .ghost-hover {
  border-color: white;
  border-style: solid;
  background-color: rgba(255,255,255,0);
  color: white;
}

/*-------------- STICKIES, TAGS, BADGES --------------*/



/*-------------- DEFAULT STICKY STYLING --------------*/

sticky {
  display: inline;
  letter-spacing: 1px;
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 8px;
  background-color: rgba(83,109,254,1);
  border: 2px solid rgba(83,109,254,1);
  color: white;
  cursor: default;
  border-radius: 6px;
}

/*-------------- ADDITIONAL STICKY STYLING --------------*/


.med-sti, .med-sti:hover {
  font-size: 1.1em;
  font-weight: 600;
  padding: 8px 11px;
  border-radius: 8px;
}

.lrg-sti, .lrg-sti:hover {
  font-size: 1.4em;
  font-weight: 600;
  padding: 10px 14px;
  border-radius: 10px;
}

/*-------------- DEFAULT TAG STYLING --------------*/

tag {
  display: inline;
  letter-spacing: 1px;
  text-align: center;
  font-size: 0.65em;
  font-weight: 400;
  padding: 2px 6px;
  background-color: rgba(83,109,254,1);
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(83,109,254,1);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
tag:hover {opacity: 0.75;}
tag:active {opacity: 0.3;}

/*-------------- ADDITIONAL TAG STYLING --------------*/


.med-tag, .med-tag:hover {
  font-size: 0.85em;
  font-weight: 400;
  padding: 3px 8px;
  border-radius: 5px;
  border-width: 2px;
}

.lrg-tag, .lrg-tag:hover {
  font-size: 1em;
  font-weight: 400;
  padding: 4px 10px;
  border-radius: 6px;
  border-width: 2px;
}

/*-------------- DEFAULT BADGE STYLING --------------*/

badge {
  display: inline;
  text-align: center;
  margin: 0 0.5%;
  font-size: 0.75em;
  font-weight: 600;
  padding: 1px 6px;
  border-radius: 20px;
  box-shadow: 0 0 0 4px rgba(83,109,254,1);
  background-color: rgba(83,109,254,1);
  color: white;
  cursor: default;
}

/*-------------- DEFAULT BADGE STYLING --------------*/

.med-bdg, .med-bdg:hover {
  font-size: 0.95em;
  font-weight: 600;
  padding: 2px 8px;
}

.lrg-bdg, .lrg-bdg:hover {
  font-size: 1.15em;
  font-weight: 600;
  padding: 3px 10px;
}

/*-------------- DEFAULT BADGE COLORS --------------*/

.bdg-blue, .bdg-blue:hover {
  box-shadow: 0 0 0 4px rgba(0,176,255,1);
  background-color: rgba(0,176,255,1);
}

.bdg-grey, .bdg-grey:hover {
  box-shadow: 0 0 0 4px rgba(119,136,153,1);
  background-color: rgba(119,136,153,1);
}

.bdg-green, .bdg-green:hover {
  box-shadow: 0 0 0 4px rgba(2,184,117,1);
  background-color: rgba(2,184,117,1);
}

.bdg-gold, .bdg-gold:hover {
  box-shadow: 0 0 0 4px rgba(255,160,0,1);
  background-color: rgba(255,160,0,1);
}

.bdg-orange, .bdg-orange:hover {
  box-shadow: 0 0 0 4px rgba(255,109,0,1);
  background-color: rgba(255,109,0,1);
}

.bdg-red, .bdg-red:hover {
  box-shadow: 0 0 0 4px rgba(255,23,68,1);
  background-color: rgba(255,23,68,1);
}

.bdg-black, .bdg-black:hover {
  box-shadow: 0 0 0 4px rgba(38,50,56,1);
  background-color: rgba(38,50,56,1);
}

.bdg-purple, .bdg-purple:hover {
  box-shadow: 0 0 0 4px rgba(170,0,255,1);
  background-color: rgba(170,0,255,1);
}

.bdg-pink, .bdg-pink:hover {
  box-shadow: 0 0 0 4px rgba(240,98,146,1);
  background-color: rgba(240,98,146,1);
}
