
/*====== GENERAL STYLING ======*/

* {box-sizing: border-box;}

body {font-family: 'Muli', Helvetica, Verdana, sans-serif;}

html {font-size: 10px;}

hr {
  margin: 2.5% 0;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(83,109,254,0.3);
}

/*========== TYPE STYLING ==========*/

h1, h2, h3, h4, h5, h6 {text-transform: uppercase;}

h1 {font-size: 4.6rem; letter-spacing: 2px; font-weight: 600; color: #333; }
h2 {font-size: 4.0rem; letter-spacing: 2px; font-weight: 600; color: #333;}
h3 {font-size: 3.4rem; letter-spacing: 1px; font-weight: 600; color: #333;}
h4 {font-size: 2.8rem; letter-spacing: 1px; font-weight: 600; color: #333;}
h5 {font-size: 2.2rem; letter-spacing: 1px; font-weight: 600; color: #333;}
h6 {font-size: 1.6rem; letter-spacing: 1px; font-weight: 600; color: #333;}

p {font-size: 1.4rem; color: #333;}


/*========== LIST STYLING ==========*/


ul li, ol li {text-align: left; font-size: 1.4rem; color: #333; padding: 0.5%;}
ul {list-style-type: circle;}
ol {list-style-type: decimal;}
ul.no-bullet {list-style-type: none;}
ol.no-bullet {list-style-type: none;}
ul.border {border: 1px solid rgba(119,136,153,0.3);}
ol.border {border: 1px solid rgba(119,136,153,0.3);}

ul.underline li, ol.underline li {border-bottom: 1px solid rgba(119,136,153,0.3);}

ul.highlight li:nth-child(even), ol.highlight li:nth-child(even) {background-color: rgba(119,136,153,0.15);}


/*========== TABLE STYLING ==========*/


table {border-collapse: collapse; display: table; border-spacing: 2px;}

th, td {padding: 1%; text-align: left; display: table-cell; font-size: 1.4rem; color: #333;}

table.highlight tr:nth-child(even) {background-color: rgba(119,136,153,0.15);}

table.underline th, table.underline td {border-bottom: 1px solid rgba(119,136,153,0.3);}

table.border {border: 1px solid rgba(119,136,153,0.3);}


/*========== CODE STYLING ==========*/


pre {
  background-color: #dbe0fc;
  border: 1px solid #8698f9;
  display: inline-block;
  width: 100%;
  overflow: scroll;
  padding-right: 10%;
}

code {
  background-color: #dbe0fc;
  display: inline-block;
  font-family: "Courier", monospace;
  font-size: 1.4rem;
  padding: 0 0.5%;
}

/*========== FORM INPUT STYLING ==========*/


input[type=text] {
  height: 38px;
  border: 1px solid rgba(83,109,254,0.5);
  border-radius: 0;
  font-size: 1.4rem;
}
input[type=text]:focus {outline: none; border: 1px solid rgba(83,109,254,1);}


/*========== ANCHOR TAG STYLING ==========*/

/*---------- PLAIN TEXT ANCHOR TAG ----------*/

a {
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: #333;
}
a:hover {
  cursor: pointer;
}


/*---------- ANCHOR BUTTON STYLING ----------*/

a.btn-link {
  margin: 1% 0.5% !important;
  white-space: nowrap;
  display: inline-block;
  box-sizing: border-box;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(83,109,254,1);
  box-shadow: 0 0 0 2px rgba(83,109,254,1);
  background-color: rgba(83,109,254,1);
  color: white;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  padding: 7px 24px;
}

a.btn-link span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
a.btn-link span:after {
  content: '\00bb';
  font-size: inherit;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
a.btn-link:hover span {padding-right: 20px;}
a.btn-link:hover span:after {opacity: 1; right: 0;}
a.btn-link:active {opacity: 0.5; outline: none;}
a.btn-link:focus {outline: none;}


/*========== TEXT COLORS ==========*/


.indigo-text, .indigo-text:hover {
  color: rgba(83,109,254,1) !important;
  border-color: rgba(83,109,254,1) !important;
}

.blue-text, .blue-text:hover {
  color: rgba(0,176,255,1) !important;
  border-color: rgba(0,176,255,1) !important;
}

.teal-text, .teal-text:hover {
  color: rgba(38,166,154,1) !important;
  border-color: rgba(38,166,154,1) !important;
}

.grey-text, .grey-text:hover {
  color: rgba(119,136,153,1) !important;
  border-color: rgba(119,136,153,1) !important;
}

.green-text, .green-text:hover {
  color: rgba(2,184,117,1) !important;
  border-color: rgba(2,184,117,1) !important;
}

.gold-text, .gold-text:hover {
  color: rgba(255,160,0,1) !important;
  border-color: rgba(255,160,0,1) !important;
}

.red-text, .red-text:hover {
  color: rgba(255,23,68,1) !important;
  border-color: rgba(255,23,68,1) !important;
}

.orange-text, .orange-text:hover {
  color: rgba(255,109,0,1) !important;
  border-color: rgba(255,109,0,1) !important;
}

.black-text, .black-text:hover {
  color: rgba(38,50,56,1) !important;
  border-color: rgba(38,50,56,1) !important;
}

.purple-text, .purple-text:hover {
  color: rgba(170,0,255,1) !important;
  border-color: rgba(170,0,255,1) !important;
}

.pink-text, .pink-text:hover {
  color: rgba(240,98,146,1) !important;
  border-color: rgba(240,98,146,1) !important;
}

.white-text, .white-text:hover {
  color: white !important;
  border-color: white !important;
}


/*========== BUTTON STYLING ==========*/


button,
input[type=submit],
input[type=reset],
input[type=button] {
  margin: 1% 0.5% !important;
  white-space: nowrap;
  display: inline-block;
  box-sizing: border-box;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(83,109,254,1);
  box-shadow: 0 0 0 2px rgba(83,109,254,1);
  background-color: rgba(83,109,254,1);
  color: white;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  padding: 7px 22px;
}

button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover {opacity: 0.8;}

button:active,
input[type=submit]:active,
input[type=reset]:active,
input[type=button]:active {opacity: 1; outline: none;}

button:focus,
input[type=submit]:focus,
input[type=reset]:focus,
input[type=button]:focus {outline: none;}


/*---------- ADDITIONAL BUTTON SIZES ----------*/

button.micro-btn,
input[type=submit].micro-btn,
input[type=reset].micro-btn,
input[type=button].micro-btn {
  font-size: 0.8rem;
  font-weight: 600;
  border-width: 1px;
  border-radius: 3px;
  letter-spacing: 1px;
  padding: 2px 6px 2px 7px;
}

button.tiny-btn,
input[type=submit].tiny-btn,
input[type=reset].tiny-btn,
input[type=button].tiny-btn {
  font-size: 1.0rem;
  font-weight: 600;
  border-radius: 4px;
  border-width: 2px;
  letter-spacing: 1px;
  padding: 3px 10px 2px 10px;
}

button.small-btn,
input[type=submit].small-btn,
input[type=reset].small-btn,
input[type=button].small-btn {
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 5px;
  border-width: 2px;
  letter-spacing: 1px;
  padding: 5px 16px;
}

/*

DEFAULT BUTTON GOES HERE

*/

button.lrg-btn,
input[type=submit].lrg-btn,
input[type=reset].lrg-btn,
input[type=button].lrg-btn {
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 8px;
  border-width: 2px;
  letter-spacing: 2px;
  padding: 8px 28px;
}

button.huge-btn,
input[type=submit].huge-btn,
input[type=reset].huge-btn,
input[type=button].huge-btn {
  font-size: 1.7rem;
  font-weight: 400;
  border-radius: 10px;
  border-width: 2px;
  letter-spacing: 2px;
  padding: 9px 32px;
}


/*========== ADDITIONAL COLORS ==========*/


.blue, .blue:hover {
  border-color: rgba(0,176,255,1) !important;
  background-color: rgba(0,176,255,1) !important;
  box-shadow: 0 0 0 2px rgba(0,176,255,1) !important;
}

.teal, .teal:hover {
  border-color: rgba(38,166,154,1) !important;
  background-color: rgba(38,166,154,1) !important;
  box-shadow: 0 0 0 2px rgba(38,166,154,1) !important;
}

.grey, .grey:hover {
  border-color: rgba(119,136,153,1) !important;
  background-color: rgba(119,136,153,1) !important;
  box-shadow: 0 0 0 2px rgba(119,136,153,1) !important;
}

.green, .green:hover {
  border-color: rgba(2,184,117,1) !important;
  background-color: rgba(2,184,117,1) !important;
  box-shadow: 0 0 0 2px rgba(2,184,117,1) !important;
}

.gold, .gold:hover {
  border-color: rgba(255,160,0,1) !important;
  background-color: rgba(255,160,0,1) !important;
  box-shadow: 0 0 0 2px rgba(255,160,0,1) !important;
}

.orange, .orange:hover {
  border-color: rgba(255,109,0,1) !important;
  background-color: rgba(255,109,0,1) !important;
  box-shadow: 0 0 0 2px rgba(255,109,0,1) !important;
}

.red, .red:hover {
  border-color: rgba(255,23,68,1) !important;
  background-color: rgba(255,23,68,1) !important;
  box-shadow: 0 0 0 2px rgba(255,23,68,1) !important;
}

.black, .black:hover {
  border-color: rgba(38,50,56,1) !important;
  background-color: rgba(38,50,56,1) !important;
  box-shadow: 0 0 0 2px rgba(38,50,56,1) !important;
}

.purple, .purple:hover {
  border-color: rgba(170,0,255,1) !important;
  background-color: rgba(170,0,255,1) !important;
  box-shadow: 0 0 0 2px rgba(170,0,255,1) !important;
}

.pink, .pink:hover {
  border-color: rgba(240,98,146,1) !important;
  background-color: rgba(240,98,146,1) !important;
  box-shadow: 0 0 0 2px rgba(240,98,146,1) !important;
}

.white {
  color: rgba(38,50,56,0.75) !important;
  /*border-width: 1px !important;*/
  border-color: white !important;
  background-color: white !important;
  box-shadow: 0 0 0 2px rgba(38,50,56,0.15) !important;
}

.white:hover {
  color: rgba(38,50,56,0.75) !important;
  box-shadow: 0 0 0 2px rgba(38,50,56,0.75) !important;
  opacity: 1 !important;
}


/*-------------- INVERTED COLORS --------------*/


.indigo-light {
  border-color: white !important;
  background-color: white !important;
  color: rgba(83,109,254,1) !important;
  box-shadow: 0 0 0 2px rgba(83,109,254,1) !important;
}

button.indigo-light:hover, input.indigo-light:hover {
  border-color: rgba(83,109,254,1) !important;
  background-color: rgba(83,109,254,1) !important;
  color: white !important;
  box-shadow: 0 0 0 2px rgba(83,109,254,1) !important;
}

.blue-light {
  border-color: white !important;
  background-color: white !important;
  color: rgba(0,176,255,1) !important;
  box-shadow: 0 0 0 2px rgba(0,176,255,1) !important;
}

button.blue-light:hover, input.blue-light:hover {
  border-color: rgba(0,176,255,1) !important;
  background-color: rgba(0,176,255,1) !important;
  color: white !important;
  box-shadow: 0 0 0 2px rgba(0,176,255,1) !important;
}

.teal-light {
  border-color: white !important;
  background-color: white !important;
  color: rgba(38,166,154,1) !important;
  box-shadow: 0 0 0 2px rgba(38,166,154,1) !important;
}

button.teal-light:hover, input.teal-light:hover {
  border-color: rgba(38,166,154,1) !important;
  background-color: rgba(38,166,154,1) !important;
  color: white !important;
  box-shadow: 0 0 0 2px rgba(38,166,154,1) !important;
}

.grey-light {
  border-color: white !important;
  background-color: white !important;
  color: rgba(119,136,153,1) !important;
  box-shadow: 0 0 0 2px rgba(119,136,153,1) !important;mall
}

button.grey-light:hover, input.grey-light:hover {
  border-color: rgba(119,136,153,1) !important;
  background-color: rgba(119,136,153,1) !important;
  color: white !important;
  box-shadow: 0 0 0 2px rgba(119,136,153,1) !important;
}

.green-light {
  border-color: white !important;
  background-color: white !important;
  color: rgba(2,184,117,1) !important;
  box-shadow: 0 0 0 2px rgba(2,184,117,1) !important;
}

button.green-light:hover, input.green-light:hover {
  border-color: rgba(2,184,117,1) !important;
  background-color: rgba(2,184,117,1) !important;
  color: white !important;
  box-shadow: 0 0 0 2px rgba(2,184,117,1) !important;
}

.gold-light {
  border-color: white !important;
  background-color: white !important;
  color: rgba(255,160,0,1) !important;
  box-shadow: 0 0 0 2px rgba(255,160,0,1) !important;
}

button.gold-light:hover, input.gold-light:hover {
  border-color: rgba(255,160,0,1) !important;
  background-color: rgba(255,160,0,1) !important;
  color: white !important;
  box-shadow: 0 0 0 2px rgba(255,160,0,1) !important;
}

.red-light {
  border-color: white !important;
  background-color: white !important;
  color: rgba(255,23,68,1) !important;
  box-shadow: 0 0 0 2px rgba(255,23,68,1) !important;
}

button.red-light:hover, input.red-light:hover {
  border-color: rgba(255,23,68,1) !important;
  background-color: rgba(255,23,68,1) !important;
  color: white !important;
  box-shadow: 0 0 0 2px rgba(255,23,68,1) !important;
}

.orange-light {
  border-color: white !important;
  background-color: white !important;
  color: rgba(255,109,0,1) !important;
  box-shadow: 0 0 0 2px rgba(255,109,0,1) !important;
}

button.orange-light:hover, input.orange-light:hover {
  border-color: rgba(255,109,0,1) !important;
  background-color: rgba(255,109,0,1) !important;
  color: white !important;
  box-shadow: 0 0 0 2px rgba(255,109,0,1) !important;
}

.black-light {
  border-color: white !important;
  background-color: white !important;
  color: rgba(38,50,56,1) !important;
  box-shadow: 0 0 0 2px rgba(38,50,56,1) !important;
}

button.black-light:hover, input.black-light:hover {
  border-color: rgba(38,50,56,1) !important;
  background-color: rgba(38,50,56,1) !important;
  color: white !important;
  box-shadow: 0 0 0 2px rgba(38,50,56,1) !important;
}

.purple-light {
  border-color: white !important;
  background-color: white !important;
  color: rgba(170,0,255,1) !important;
  box-shadow: 0 0 0 2px rgba(170,0,255,1) !important;
}

button.purple-light:hover, input.purple-light:hover {
  border-color: rgba(170,0,255,1) !important;
  background-color: rgba(170,0,255,1) !important;
  color: white !important;
  box-shadow: 0 0 0 2px rgba(170,0,255,1) !important;
}

.pink-light {
  border-color: white !important;
  background-color: white !important;
  color: rgba(240,98,146,1) !important;
  box-shadow: 0 0 0 2px rgba(240,98,146,1) !important;
}

button.pink-light:hover, input.pink-light:hover {
  border-color: rgba(240,98,146,1) !important;
  background-color: rgba(240,98,146,1) !important;
  color: white !important;
  box-shadow: 0 0 0 2px rgba(240,98,146,1) !important;
}

.white-light {
  border-color: rgba(255,255,255,0);
  background-color: rgba(255,255,255,0);
  color: white;
  box-shadow: 0 0 0 2px white !important;
}

button.white-light:hover, input.white-light:hover {
  border-color: rgba(255,255,255,0);
  background-color: rgba(255,255,255,0.2);
  color: white;
  box-shadow: 0 0 0 2px rgba(255,255,255,1) !important;
}


/*========== ADDITIONAL BUTTON STYLES ==========*/


.pill {border-radius: 999px !important;}

.square {border-radius: 0 !important;}


/*========== DEFAULT STICKY STYLING ==========*/


sticky {
  margin: 1% 0.5% !important;
  display: inline-block;
  white-space: nowrap;
  box-sizing: border-box;
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 3px 6px;
  box-shadow: 0 0 0 2px rgba(83,109,254,1);
  background-color: rgba(83,109,254,1);
  border: 2px solid rgba(83,109,254,1);
  color: white;
  cursor: default;
  border-radius: 4px;
}

/*-------------- ADDITIONAL STICKY SIZES --------------*/

sticky.micro-sti, sticky.micro-sti:hover {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0px 2px;
  border-radius: 2px;
}

sticky.tiny-sti, sticky.tiny-sti:hover {
  font-size: 1.0rem;
  font-weight: 600;
  padding: 1px 4px;
  border-radius: 3px;
}

sticky.small-sti, sticky.small-sti:hover {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 2px 4px;
  border-radius: 4px;
}

/*
DEFAULT STICKY GOES HERE
font-size: 1.3rem;
font-weight: 400;
text-transform: uppercase;
padding: 0px 8px;
*/

sticky.lrg-sti, sticky.lrg-sti:hover {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
  letter-spacing: 1px;
}

sticky.huge-sti, sticky.huge-sti:hover {
  font-size: 1.7rem;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 5px;
  letter-spacing: 1px;
}

/*========== DEFAULT BADGE STYLING ==========*/


badge {
  margin: 1% 0.5% !important;
  display: inline-block;
  white-space: nowrap;
  box-sizing: border-box;
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 3px 8px 1px 8px;
  box-shadow: 0 0 0 2px rgba(83,109,254,1);
  background-color: rgba(83,109,254,1);
  border: 2px solid rgba(83,109,254,1);
  color: white;
  cursor: default;
  border-radius: 4px;
}

/*-------------- ADDITIONAL BADGE SIZES --------------*/

badge.micro-bdg, badge.micro-bdg:hover {
  font-size: 0.85rem;
  font-weight: 700;
  border-radius: 3px;
  padding: 0px 3px;
}

badge.tiny-bdg, badge.tiny-bdg:hover {
  font-size: 1.0rem;
  font-weight: 700;
  border-radius: 3px;
  padding: 0px 4px 0px 5px;
}

badge.small-bdg, badge.small-bdg:hover {
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 4px;
  padding: 1px 6px 1px 7px;
}

badge.lrg-bdg, badge.lrg-bdg:hover {
  font-size: 1.55rem;
  font-weight: 600;
  border-radius: 5px;
  letter-spacing: 1px;
  padding: 2px 9px 2px 10px;
}

badge.huge-bdg, badge.huge-bdg:hover {
  font-size: 1.7rem;
  font-weight: 400;
  border-radius: 5px;
  letter-spacing: 1px;
  padding: 3px 11px 3px 12px;
}


/* TOOLTIP STYLING */


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: white;
  font-size: 1.3rem;
  text-align: center;
  padding: 4px 6px;
  display: inline-block;
  border-radius: 6px;
  position: absolute;
  /*z-index: 1;*/
}

span.right {
  top: 4px;
  left: 105%;
  margin-left: 3%;
}

span.right::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #333 transparent transparent;
}

span.left {
  top: 4px;
  right: 105%;
  margin-right: 3%;
}

span.left::after {
  content: " ";
 position: absolute;
 top: 50%;
 left: 100%; /* To the right of the tooltip */
 margin-top: -5px;
 border-width: 5px;
 border-style: solid;
 border-color: transparent transparent transparent #333;
}

span.top {
  bottom: 100%;
  left: 50%;
  margin-bottom: 8%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

span.top::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

span.bottom {
  top: 100%;
  left: 50%;
  margin-top: 5%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

span.bottom::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
