
/*GENERAL PAGE STYLING*/

* {font-family: 'Muli', sans-serif;}

body {padding: 0; margin: 0; word-wrap: normal;}

p {line-height: 2;}

ul {list-style-type: circle;}

hr {
  margin: 2.5% 0;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(83,109,254,0.5);
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(38,50,56,1);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 2.5% 0;
  padding-bottom: 1%;
  border-bottom: 1px solid rgba(83,109,254,0.5);
}

h1 {font-size: 2.6em;}
h2 {font-size: 2.25em;}
h3 {font-size: 2em;}
h4 {font-size: 1.75em;}
h5 {font-size: 1.5em;}
h6 {font-size: 1.25em;}


/*---------- INPUT STYLING ----------*/


input[type=text] {
  height: 34px;
  width: 280px;
  border: 1px solid rgba(83,109,254,0.5);
  border-radius: 0;
  padding: 0 1%;
  font-size: 0.8em;
}
input[type=text]:focus {outline: none; border: 1px solid rgba(83,109,254,1);}


input[type=submit] {
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 6px 26px;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(83,109,254,1);
  box-shadow: 0 0 0 2px rgba(83,109,254,1);
  background-color: rgba(83,109,254,1);
  color: white;
  border-radius: 6px;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

input[type=submit]:hover {opacity: 0.75;}
input[type=submit]:active {opacity: 0.5; outline: none;}
input[type=submit]:focus {outline: none;}


/*---------- ANCHOR TAG STYLING ----------*/
/*---------- PLAIN TEXT ANCHOR TAG ----------*/

/*example:

<a class="text-link" href="/buttons/buttons">buttons</a>*/


a.text-link {
  font-weight: 600;
  text-decoration: none;
  color: rgba(83,109,254,1);
}
a.text-link:hover {
  border-width: 0 0 1px 0;
  border-style: dashed;
  border-color: rgba(83,109,254,1);
}


/*---------- BUTON STYLE ANCHOR TAG ----------*/
/*---------- DARK BUTTON-STYLE ANCHOR TAG ----------*/


a.btn-link {
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 6px 26px;
  text-align: center;
  vertical-align: middle;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(83,109,254,1);
  box-shadow: 0 0 0 2px rgba(83,109,254,1);
  background-color: rgba(83,109,254,1);
  color: white;
  border-radius: 6px;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

a.btn-link span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
a.btn-link span:after {
  content: '\00bb';
  font-size: inherit;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
a.btn-link:hover span {padding-right: 20px;}
a.btn-link:hover span:after {opacity: 1; right: 0;}
a.btn-link:active {opacity: 0.5; outline: none;}
a.btn-link:focus {outline: none;}


/*---------- ADDITIONAL ANCHOR BUTTON SIZES ----------*/

/*MEDIUM*/

a.med-btn-link {
  font-size: 1em;
  font-weight: 400;
  padding: 7px 34px;
  border-radius: 8px;
  border-width: 2px;
}

a.med-btn-link span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
a.med-btn-link span:after {
  content: '\00bb';
  font-size: inherit;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -25px;
  transition: 0.5s;
}
a.med-btn-link:hover span {padding-right: 25px;}
a.med-btn-link:hover span:after {opacity: 1; right: 0;}
a.med-btn-link:active {opacity: 0.5; outline: none;}
a.med-btn-link:focus {outline: none;}

/*LARGE*/

a.lrg-btn-link {
  font-size: 1.2em;
  font-weight: 400;
  padding: 9px 46px;
  border-radius: 10px;
  border-width: 2px;
}

a.lrg-btn-link span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
a.lrg-btn-link span:after {
  content: '\00bb';
  font-size: inherit;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}
a.lrg-btn-link:hover span {padding-right: 30px;}
a.lrg-btn-link:hover span:after {opacity: 1; right: 0;}
a.lrg-btn-link:active {opacity: 0.5; outline: none;}
a.lrg-btn-link:focus {outline: none;}


/*-------------- ADDITIONAL TEXT COLORS --------------*/


.indigo-text, .indigo-text:hover {
  color: rgba(83,109,254,1) !important;
  border-color: rgba(83,109,254,1) !important;
}

.blue-text, .blue-text:hover {
  color: rgba(0,176,255,1) !important;
  border-color: rgba(0,176,255,1) !important;
}

.grey-text, .grey-text:hover {
  color: rgba(119,136,153,1) !important;
  border-color: rgba(119,136,153,1) !important;
}

.green-text, .green-text:hover {
  color: rgba(2,184,117,1) !important;
  border-color: rgba(2,184,117,1) !important;
}

.gold-text, .gold-text:hover {
  color: rgba(255,160,0,1) !important;
  border-color: rgba(255,160,0,1) !important;
}

.red-text, .red-text:hover {
  color: rgba(255,23,68,1) !important;
  border-color: rgba(255,23,68,1) !important;
}

.orange-text, .orange-text:hover {
  color: rgba(255,109,0,1) !important;
  border-color: rgba(255,109,0,1) !important;
}

.black-text, .black-text:hover {
  color: rgba(38,50,56,1) !important;
  border-color: rgba(38,50,56,1) !important;
}

.purple-text, .purple-text:hover {
  color: rgba(170,0,255,1) !important;
  border-color: rgba(170,0,255,1) !important;
}

.pink-text, .pink-text:hover {
  color: rgba(240,98,146,1) !important;
  border-color: rgba(240,98,146,1) !important;
}

.white-text, .white-text:hover {
  color: white !important;
  border-color: white !important;
}


/*-------------- DEFAULT BUTTON STYLING --------------*/


button {
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 6px 26px;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(83,109,254,1);
  box-shadow: 0 0 0 2px rgba(83,109,254,1);
  background-color: rgba(83,109,254,1);
  color: white;
  border-radius: 6px;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

button:hover {opacity: 0.75;}
button:active {opacity: 0.5; outline: none;}
button:focus {outline: none;}


/*---------- ADDITIONAL BUTTON SIZES ----------*/


button.med-btn, button.med-btn:hover, input[type=submit].med-btn, input[type=submit].med-btn:hover {
  font-size: 1em;
  font-weight: 400;
  padding: 7px 34px;
  border-radius: 8px;
  border-width: 2px;
}

button.lrg-btn, button.lrg-btn:hover, input[type=submit].lrg-btn, input[type=submit].lrg-btn:hover {
  font-size: 1.2em;
  font-weight: 400;
  padding: 9px 46px;
  border-radius: 10px;
  border-width: 2px;
}


/*-------------- ADDITIONAL COLORS --------------*/


.blue, .blue:hover {
  border-color: rgba(0,176,255,1) !important;
  background-color: rgba(0,176,255,1) !important;
  box-shadow: 0 0 0 2px rgba(0,176,255,1) !important;
}

.grey, .grey:hover {
  border-color: rgba(119,136,153,1) !important;
  background-color: rgba(119,136,153,1) !important;
  box-shadow: 0 0 0 2px rgba(119,136,153,1) !important;
}

.green, .green:hover {
  border-color: rgba(2,184,117,1) !important;
  background-color: rgba(2,184,117,1) !important;
  box-shadow: 0 0 0 2px rgba(2,184,117,1) !important;
}

.gold, .gold:hover {
  border-color: rgba(255,160,0,1) !important;
  background-color: rgba(255,160,0,1) !important;
  box-shadow: 0 0 0 2px rgba(255,160,0,1) !important;
}

.orange, .orange:hover {
  border-color: rgba(255,109,0,1) !important;
  background-color: rgba(255,109,0,1) !important;
  box-shadow: 0 0 0 2px rgba(255,109,0,1) !important;
}

.red, .red:hover {
  border-color: rgba(255,23,68,1) !important;
  background-color: rgba(255,23,68,1) !important;
  box-shadow: 0 0 0 2px rgba(255,23,68,1) !important;
}

.black, .black:hover {
  border-color: rgba(38,50,56,1) !important;
  background-color: rgba(38,50,56,1) !important;
  box-shadow: 0 0 0 2px rgba(38,50,56,1) !important;
}

.purple, .purple:hover {
  border-color: rgba(170,0,255,1) !important;
  background-color: rgba(170,0,255,1) !important;
  box-shadow: 0 0 0 2px rgba(170,0,255,1) !important;
}

.pink, .pink:hover {
  border-color: rgba(240,98,146,1) !important;
  background-color: rgba(240,98,146,1) !important;
  box-shadow: 0 0 0 2px rgba(240,98,146,1) !important;
}


/*-------------- INVERTED COLORS --------------*/


.indigo-light, .indigo-light:hover {
  border-color: white !important;
  background-color: white !important;
  color: rgba(83,109,254,1) !important;
  box-shadow: 0 0 0 2px rgba(83,109,254,1) !important;
}

.blue-light, .blue-light:hover {
  border-color: white !important;
  background-color: white !important;
  color: rgba(0,176,255,1) !important;
  box-shadow: 0 0 0 2px rgba(0,176,255,1) !important;
}

.grey-light, .grey-light:hover {
  border-color: white !important;
  background-color: white !important;
  color: rgba(119,136,153,1) !important;
  box-shadow: 0 0 0 2px rgba(119,136,153,1) !important;
}

.green-light, .green-light:hover {
  border-color: white !important;
  background-color: white !important;
  color: rgba(2,184,117,1) !important;
  box-shadow: 0 0 0 2px rgba(2,184,117,1) !important;
}

.gold-light, .gold-light:hover {
  border-color: white !important;
  background-color: white !important;
  color: rgba(255,160,0,1) !important;
  box-shadow: 0 0 0 2px rgba(255,160,0,1) !important;
}

.red-light, .red-light:hover {
  border-color: white !important;
  background-color: white !important;
  color: rgba(255,23,68,1) !important;
  box-shadow: 0 0 0 2px rgba(255,23,68,1) !important;
}

.orange-light, .orange-light:hover {
  border-color: white !important;
  background-color: white !important;
  color: rgba(255,109,0,1) !important;
  box-shadow: 0 0 0 2px rgba(255,109,0,1) !important;
}

.black-light, .black-light:hover {
  border-color: white !important;
  background-color: white !important;
  color: rgba(38,50,56,1) !important;
  box-shadow: 0 0 0 2px rgba(38,50,56,1) !important;
}

.purple-light, .purple-light:hover {
  border-color: white !important;
  background-color: white !important;
  color: rgba(170,0,255,1) !important;
  box-shadow: 0 0 0 2px rgba(170,0,255,1) !important;
}

.pink-light, .pink-light:hover {
  border-color: white !important;
  background-color: white !important;
  color: rgba(240,98,146,1) !important;
  box-shadow: 0 0 0 2px rgba(240,98,146,1) !important;
}

.ghost, .ghost:hover {
  border-color: rgba(255,255,255,0);
  background-color: rgba(255,255,255,0);
  color: white;
  box-shadow: 0 0 0 2px white !important;
}


/*-------------- ADDITIONAL BUTTON STYLES --------------*/


.pill {border-radius: 36px !important;}

.square {border-radius: 0 !important;}


/*-------------- DEFAULT STICKY STYLING --------------*/


sticky {
  display: inline;
  letter-spacing: 1px;
  text-align: center;
  font-size: 0.8em;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0px 5px;
  box-shadow: 0 0 0 2px rgba(83,109,254,1);
  background-color: rgba(83,109,254,1);
  border: 2px solid rgba(83,109,254,1);
  color: white;
  cursor: default;
  border-radius: 4px;
}

/*-------------- ADDITIONAL STICKY SIZES --------------*/


sticky.med-sti, sticky.med-sti:hover {
  font-size: 1em;
  font-weight: 400;
  padding: 1px 6px;
  border-radius: 6px;
}

sticky.lrg-sti, sticky.lrg-sti:hover {
  font-size: 1.2em;
  font-weight: 400;
  padding: 2px 7px;
  border-radius: 8px;
}


/*-------------- DEFAULT TAG STYLING --------------*/


tag {
  display: inline;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.6em;
  font-weight: 400;
  padding: 0px 5px;
  background-color: rgba(83,109,254,1);
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(83,109,254,1);
  box-shadow: 0 0 0 1px rgba(83,109,254,1);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
tag:hover {opacity: 0.75;}
tag:active {opacity: 0.3;}


/*-------------- ADDITIONAL TAG SIZES --------------*/


tag.med-tag, tag.med-tag:hover {
  font-size: 0.7em;
  font-weight: 400;
  padding: 1px 6px;
  border-radius: 5px;
  border-width: 2px;
}

tag.lrg-tag, tag.lrg-tag:hover {
  font-size: 0.85em;
  font-weight: 400;
  padding: 2px 7px;
  border-radius: 6px;
  border-width: 2px;
}


/*-------------- DEFAULT BADGE STYLING --------------*/


badge {
  display: inline;
  letter-spacing: 1px;
  background-color: rgba(83,109,254,1);
  border-width: 2px;
  border-style: solid;
  border-color: rgba(83,109,254,1);
  border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
  box-shadow: 0 0 0 2px rgba(83,109,254,1);
  color: white;
  font: 14px/13px "Muli", Verdana, sans-serif;
  font-weight: 400;
  height: 16px;
  min-width: 14px;
  padding: 5px 4px 1px 4px;
  text-align: center;
  cursor: default;
}


/*-------------- DEFAULT BADGE SIZES --------------*/


.med-bdg, .med-bdg:hover {
  border-radius: 16px;
  font: 18px/17px "Muli", Verdana, sans-serif;
  height: 20px;
  min-width: 18px;
  padding: 6px 5px 1px 5px;
}

.lrg-bdg, .lrg-bdg:hover {
  border-radius: 18px;
  font: 22px/21px "Muli", Verdana, sans-serif;
  height: 24px;
  min-width: 22px;
  padding: 7px 6px 2px 6px;
}
