<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indigo CSS</title>

    <!-- Favicon -->
    <link rel=icon href="/static/images/branch-16.png">

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/markup.css">
    <link rel="stylesheet" href="/static/css/grid.css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <style>
      h1 {font-weight: 400;}
      body {text-align: center; background-color: rgba(83,109,254,1);}
      #home-top {margin-top: 10%; background-color: white; padding: 2.5%;}
      #social {margin-top: 5%; margin-bottom: 10%;}

    </style>

    <!-- Javascripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
  </head>
  <body>

    <!--- BEGINNING OF TOP NAVBAR --->

    <nav id="navbar" class="fixed">
      <ul class="navbar">
        <li><a href="http://www.indigocss.com"><img class="logo" src="/static/images/branch-26.png" alt="logo" href="/"></a></li>
        <li><a href="http://www.indigocss.com" class="nav-link">Home</a></li>
        <li><a href="http://www.indigocss.com/templates/components.html" class="nav-link">Components</a></li>
        <li><a href="http://www.indigocss.com/templates/about.html" class="nav-link">About</a></li>
      </ul>
    </nav>
    <div id="nav-trigger" class="fixed">
        <span></span>
        <nav id="nav-mobile"></nav>
    </div>

    <!--- END OF TOP NAVBAR --->


    <!-- Main Content -->

    <div id="container">
      <div id="home-top">
        <h1>About Indigo</h1>
        <hr>
        <p style="text-align: justify;">I've always been deeply inspired by color and color theory, which is why I knew it would play an important role in the design of this framework. Indigo is perhaps the most mysterious of the seven colors of the rainbow. Do most people even know exactly what indigo looks like? Is it blue? Is it purple?</p>

        <br>

        <p style="text-align: justify;">In Neil DeGrasse Tyson's Cosmos, he mentions that Isaac Newton originally defined indigo as one of the seven colors of the rainbow because he believed that seven colors would be luckier than six. I thought that was so fascinating that I decided to do a little more research about this enigmatic hue.</p>

        <br>


        <ul>
          <li>Indigo is a plant that is named after the region it originates from - the Indus Valley. There, it was referred to as "neela", or blue.</li>
          <li>The indigo plant has been harvested and traded for its beautifully pigmented dye since ancient times.</li>
          <li>Spanish explorers discovered an American species of Indigo in 1640, thus beginning American cultivation of the crop.</li>
          <li>Soon after, Isaac Newton declared indigo as one of the seven colors of the rainbow, falling in between blue and violet.</li>
          <li>Today, modern color scientists acknowledge a divide in the color spectrum in between blue and violet, with nothing in between.</li>
        </ul>
      </div>


      <p style="margin-top: 10%; margin-bottom: 0%; color: white !important; font-size: 16px;">Copyright 2016-2017 Indigo. All Rights Reserved.</p>

    </div>
  </body>
</html>
