<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>indigo.css - buttons</title>
    <link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/markup.css">
    <script type="text/javascript" src="/static/js/app.js"></script>
    <style>

      /*BUTTONS-PAGE-ONLY STYLING*/

      h4 {color: rgba(83,109,254,1);}

      .btn-link, .btn-link-light {display: inline-block; margin: 2%;}
      .raised {margin: 1.5%;}
      #container {margin-bottom: 5%;}

      /*PHONES*/
      @media only screen
        and (min-device-width: 320px)
        and (max-device-width: 480px) {
          h1 {font-size: 1.6em;}
          h3 {font-size: 1.45em;}
          h4 {font-size: 1.3em;}
          h5 {font-size: 1.125em;}
          button {display: inline-block; margin: 1%;}
          .btn-link, .btn-link-light {display: inline-block; margin: 2%;}
          .raised {margin-top: 2.5%;margin-bottom: 1.5%;}
        }

      /*TABLETS*/
      @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px) {
          button {display: inline-block; margin: 2% 0.5%;}
          .btn-link, .btn-link-light {display: inline-block; margin: 2%;}
          #example {padding: 1% 0;}
          .raised {margin: 2% 1%;}
        }

    </style>
  </head>
  <body>
    <!--- Animated Side Nav Styling --->

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#top">Top</a>
      <a href="#primary">Primary</a>
      <a href="#secondary">Secondary</a>
      <a href="#input">Input</a>
      <a href="#anchor">Anchor</a>
      <a href="#color">Colors</a>
      <a href="#size">Sizes</a>
      <a href="#style">Styles</a>
    </div>

    <!-- Add all page content inside "main" div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">

    <!--- Top Navbar --->

      <ul class="topnav" id="myTopnav">
        <li onclick="openNav()"><a style="cursor: pointer;">&#9776;</a></li>
        <li class="brand"><a href="/">indigo.css</a></li>
        <li><a href="/components">components</a></li>
        <li><a href="/about">about</a></li>
        <li class="icon">
          <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
        </li>
      </ul>

      <a name="top"></a>

      <div id="container">

        <a class="btn-link-light" href="/components"><span>components </span></a>

        <h1>Standard Buttons</h1>

        <p>This page contains all the information you need about <badge>indigo's</badge> standard button styling options. Use the side navigation to jump to different sections throughout the page.</p>

        <a name="primary"></a>
        <h4>Primary Buttons</h4>

        <p>The default <code2>&lt;button&gt;</code2> is indigo with white text and slightly rounded edges.</p>

        <div id="example">
          <button>primary button</button>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;button&gt;primary button&lt;/button&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <p>Use primary buttons to indicate a clear call-to-action to the user.</p>

        <div id="example">
          <button class="orange">buy now</button>
          <button class="black">sign up today</button>
          <button class="green">download</button>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;button class="orange"&gt;buy now&lt;/button&gt;
        &lt;button class="black"&gt;sign up today&lt;/button&gt;
        &lt;button class="green"&gt;download&lt;/button&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <a name="secondary"></a>
        <h4>Secondary Buttons</h4>

        <p>To use secondary buttons, add a <code2>.color-light</code2> class to a <code2>&lt;button&gt;</code2>.</p>

        <a href="#color" class="text-link">Click here to view all colors.</a>

        <p>Secondary buttons are recommended for call-to-action items of a lower priority.</p>

        <div id="example">
          <button class="indigo-light">secondary button</button>
        </div>

        <p>Also, when used alongside primary buttons, they are useful for drawing the user's attention to a more preferred or recommended action.</p>

        <div id="example">
          <button class="green">get started</button>
          <button class="green-light">go back</button>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;button class="green"&gt;get started&lt;/button&gt;
        &lt;button class="green-light"&gt;go back&lt;/button&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <div id="example">
          <button class="indigo-light">not right now</button>
          <button>sign up today</button>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;button class="indigo-light"&gt;not right now&lt;/button&gt;
        &lt;button&gt;sign up today&lt;/button&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <a name="input"></a>
        <h4>Input Buttons</h4>

        <p>Use input buttons for form submission. The default <code2>&lt;input type="submit"&gt;</code2> is indigo with white text and slightly rounded edges.</p>

        <div id="example">
          <label for="email">Email Address</label>
          <input type="text" id="email" placeholder="fozzy@bear.com">
          <input type="submit" value="input button">
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;label for="email"&gt;Email Address&lt;/label&gt;
        &lt;input type="text" id="email" placeholder="fozzy@bear.com"&gt;
        &lt;input type="submit" value="input button"&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <a name="anchor"></a>
        <h4>Anchor Buttons</h4>

        <p>Anchor buttons are simply anchor tags that have button styling applied to them. Use them for navigation.</p>

        <p>Anchor buttons come in two styles: primary -  <code2>.btn-link</code2> and secondary - <code2>.btn-link-light</code2>.</p>

        <p>Note that for the animation on hover to work, you must wrap the anchor text within a <code2>&lt;span&gt;</code2>.</p>

        <div id="example">
          <a href="#0" class="btn-link"><span>Primary Anchor </span></a>
          <a href="#0" class="btn-link-light"><span>Secondary Anchor </span></a>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;a href="#0" class="btn-link"&gt;&lt;span&gt;primary anchor &lt;/span&gt;&lt;/a&gt;
        &lt;a href="#0" class="btn-link-light"&gt;&lt;span&gt;secondary anchor &lt;/span&gt;&lt;/a&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <h3>Customizing Buttons</h3>

        <a name="color"></a>
        <h4>Colors</h4>

        <p>Use the <code2>.color</code2> class to change the background color of a primary button, input button, or anchor button.</p>

        <div id="example">
          <button class="red">button</button>
          <button class="orange">button</button>
          <button class="gold">button</button>
          <button class="green">button</button>
          <button class="blue">button</button>
          <br>
          <button>button</button>
          <button class="purple">button</button>
          <button class="pink">button</button>
          <button class="grey">button</button>
          <button class="black">button</button>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;button class="red"&gt;button&lt;/button&gt;
        &lt;button class="orange"&gt;button&lt;/button&gt;
        &lt;button class="gold"&gt;button&lt;/button&gt;
        &lt;button class="green"&gt;button&lt;/button&gt;
        &lt;button class="blue"&gt;button&lt;/button&gt;
        &lt;button&gt;button&lt;/button&gt;
        &lt;button class="purple"&gt;button&lt;/button&gt;
        &lt;button class="pink"&gt;button&lt;/button&gt;
        &lt;button class="grey"&gt;button&lt;/button&gt;
        &lt;button class="black"&gt;button&lt;/button&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <p>Colors can help convey different meanings depending on the context.</p>

        <div id="example">
          <button class="red">danger</button>
          <button class="gold">Caution</button>
          <button class="green">Success</button>
          <br>
          <button class="purple">click me!</button>
          <button class="blue">questions?</button>
          <button class="grey">inactive</button>
        </div>

        <p>Use the <code2>.color-light</code2> class to change the border color and text color of secondary buttons and secondary anchor buttons.</p>

        <div id="example">
          <button class="red-light">button</button>
          <button class="orange-light">button</button>
          <button class="gold-light">button</button>
          <button class="green-light">button</button>
          <button class="blue-light">button</button>
          <br>
          <a href="#0" class="btn-link-light indigo-light"><span>anchor </span></a>
          <a href="#0" class="btn-link-light purple-light"><span>anchor </span></a>
          <a href="#0" class="btn-link-light pink-light"><span>anchor </span></a>
          <a href="#0" class="btn-link-light grey-light"><span>anchor </span></a>
          <a href="#0" class="btn-link-light black-light"><span>anchor </span></a>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;button class="red-light"&gt;button&lt;/button&gt;
        &lt;button class="orange-light"&gt;button&lt;/button&gt;
        &lt;button class="gold-light"&gt;button&lt;/button&gt;
        &lt;button class="green-light"&gt;button&lt;/button&gt;
        &lt;button class="blue-light"&gt;button&lt;/button&gt;
        &lt;a href="#0" class="btn-link-light indigo-light"&gt;
          &lt;span&gt;anchor &lt;/span&gt;
        &lt;/a&gt;
        &lt;a href="#0" class="btn-link-light purple-light"&gt;
          &lt;span&gt;anchor &lt;/span&gt;
        &lt;/a&gt;
        &lt;a href="#0" class="btn-link-light pink-light"&gt;
          &lt;span&gt;anchor &lt;/span&gt;
        &lt;/a&gt;
        &lt;a href="#0" class="btn-link-light grey-light"&gt;
          &lt;span&gt;anchor &lt;/span&gt;
        &lt;/a&gt;
        &lt;a href="#0" class="btn-link-light black-light"&gt;
          &lt;span&gt;anchor &lt;/span&gt;
        &lt;/a&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <a name="size"></a>
        <h4>Sizes</h4>

        <p>Primary buttons and secondary buttons come in three sizes: default, medium, and large.</p>

        <p>Default - <code2>&lt;button&gt;</code2> - no additional class necessary.</p>

        <p>Medium - <code2>.med-btn</code2></p>

        <p>Large - <code2>.lrg-btn</code2></p>

        <p>These classes currently do not work with anchor buttons or input buttons.</p>

        <div id="example">
          <button class="purple">default</button>
          <button class="purple med-btn">medium</button>
          <button class="purple lrg-btn">large</button>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;button class="purple"&gt;default&lt;/button&gt;
        &lt;button class="purple med-btn"&gt;medium&lt;/button&gt;
        &lt;button class="purple lrg-btn"&gt;large&lt;/button&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <a name="style"></a>
        <h4>Styles</h4>

        <h5>Square Buttons</h5>

        <p>Use the <code2>.square</code2> class to give buttons squared, sharp edges.</p>

        <div id="example">
          <button class="green-light square">square</button>
          <button class="blue square med-btn">square</button>
          <button class="indigo-light square lrg-btn">square</button>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;button class="green-light square"&gt;squared&lt;/button&gt;
        &lt;button class="blue square med-btn"&gt;squared&lt;/button&gt;
        &lt;button class="indigo-light square lrg-btn"&gt;squared&lt;/button&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <h5>Pill Buttons</h5>

        <p>Use the <code2>.pill</code2> class for a pill-shaped button with rounded edges.</p>

        <div id="example">
          <button class="red-light pill">rounded</button>
          <button class="orange pill med-btn">rounded</button>
          <button class="gold-light pill lrg-btn">rounded</button>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;button class="red-light pill"&gt;rounded&lt;/button&gt;
        &lt;button class="orange pill med-btn"&gt;rounded&lt;/button&gt;
        &lt;button class="gold-light pill lrg-btn"&gt;rounded&lt;/button&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <h5>Raised Buttons</h5>

        <p>Use the <code2>.raised</code2> class to give buttons shadows and a raised, 3-dimensional effect.</p>

        <div id="example">
          <button class="pink raised square">raised</button>
          <button class="pink raised square med-btn">raised</button>
          <button class="pink raised square lrg-btn raise">raised</button>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;button class="pink raised square"&gt;raised&lt;/button&gt;
        &lt;button class="pink raised square med-btn"&gt;raised&lt;/button&gt;
        &lt;button class="pink raised square lrg-btn"&gt;raised&lt;/button&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <h5>Ghost Buttons</h5>

        <p>Use the <code2>.ghost</code2> class to give buttons a transparent background with a white border and white text.</p>

        <p>Ghost buttons are most effective when paired with high-contrast background colors or images that won't clash with the button's text.</p>

        <div class="backdrop" id="example">
          <button class="ghost">ghost</button>
          <button class="ghost med-btn">ghost</button>
          <button class="ghost lrg-btn">ghost</button>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;button class="ghost"&gt;ghost&lt;/button&gt;
        &lt;button class="ghost med-btn"&gt;ghost&lt;/button&gt;
        &lt;button class="ghost lrg-btn"&gt;ghost&lt;/button&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <a href="#top" class="btn-link-light"><span>Back To Top </span></a>

      </div>


    </div>
  </body>
</html>
