<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>indigo.css - buttons</title>
    <link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/markup.css">
    <script type="text/javascript" src="/static/js/app.js"></script>
    <style>

      /*BUTTONS-PAGE-ONLY STYLING*/

      h4 {color: rgba(83,109,254,1);}

      #container {margin-bottom: 5%;}

      #example {padding: 1% 0;}

      .bottom {margin-bottom: 5%;}

      div#example sticky, div#example button, div#example input[type=submit], div#example a.btn-link, div#example tag, div#example badge {
        margin: 1% 0.5%;
        vertical-align: top;
        display: inline-block;
      }

      /*PHONES*/
      @media only screen
        and (min-device-width: 320px)
        and (max-device-width: 480px) {
          h1 {font-size: 1.6em;}
          h3 {font-size: 1.45em;}
          h4 {font-size: 1.3em;}
          h5 {font-size: 1.125em;}
          #container {margin-top: 7%; margin-bottom: 5%;}
          h1 {margin-top: 10%;}
          h4 {margin-top: 5%;}
          div#example sticky, div#example button, div#example input[type=submit], div#example a.btn-link, div#example tag, div#example badge {
            margin: 2% 0.5%;
            vertical-align: top;
            display: inline-block;
          }
          .bottom {margin-bottom: 10%;}

        }

      /*TABLETS*/
      @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px) {

          #example {padding: 1.5% 0;}
          #container {margin-top: 7%; margin-bottom: 5%;}
          h1 {margin-top: 10%;}
          h4 {margin-top: 5%;}
          div#example sticky, div#example button, div#example input[type=submit], div#example a.btn-link, div#example tag, div#example badge {
            margin: 2% 0.5%;
            vertical-align: top;
            display: inline-block;
          }
          .bottom {margin-bottom: 7%;}
        }

    </style>
  </head>
  <body>
    <!--- Animated Side Nav Styling --->

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#top">Top</a>
      <a href="#primary">Primary</a>
      <a href="#secondary">Secondary</a>
      <a href="#input">Input</a>
      <a href="#anchor">Anchor</a>
      <a href="#color">Colors</a>
      <a href="#size">Sizes</a>
      <a href="#style">Styles</a>
    </div>

    <!-- Add all page content inside "main" div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">

    <!--- Top Navbar --->

      <ul class="topnav" id="myTopnav">
        <li onclick="openNav()"><a style="cursor: pointer;">&#9776;</a></li>
        <li class="brand"><a href="/">indigo.css</a></li>
        <li><a href="/components">components</a></li>
        <li><a href="/about">about</a></li>
        <li class="icon">
          <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
        </li>
      </ul>

      <a name="top"></a>

      <div id="container">

        <a class="btn-link indigo-light" href="/components"><span>components </span></a>

        <h1>Standard Buttons</h1>

        <p>This page contains everything you need to know about indigo's standard buttons. Use the side navigation to skip to different sections.</p>

        <div id="example">
          <button class="square">button</button>
          <button class="square med-btn">button</button>
          <button class="square lrg-btn">button</button>
          <button class="square lrg-btn indigo-light">button</button>
          <button class="square med-btn indigo-light">button</button>
          <button class="square indigo-light">button</button>
          <br>
          <button class="pill">button</button>
          <button class="pill med-btn">button</button>
          <button class="pill lrg-btn">button</button>
          <button class="pill lrg-btn indigo-light">button</button>
          <button class="pill med-btn indigo-light">button</button>
          <button class="pill indigo-light">button</button>
          <br>
          <button>button</button>
          <button class="med-btn">button</button>
          <button class="lrg-btn">button</button>
          <button class="indigo-light lrg-btn">button</button>
          <button class="indigo-light med-btn">button</button>
          <button class="indigo-light">button</button>
        </div>

        <a name="primary"></a>
        <h4>Primary Buttons</h4>

        <p>The default <code2>&lt;button&gt;</code2> has an indigo <code2>background-color</code2>, white font <code2>color</code2>, and a subtle <code2>border-radius</code2>.</p>

        <div id="example">
          <button>primary</button>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;button&gt;primary&lt;/button&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <p>Use primary buttons to indicate a clear call-to-action to the user.</p>

        <div id="example">
          <button class="orange">buy now</button>
          <button class="blue">update</button>
          <button class="black">register</button>
          <button class="green">download</button>
        </div>

        <a name="secondary"></a>
        <h4>Secondary Buttons</h4>

        <p>Secondary buttons are recommended for call-to-action items of a lower priority.</p>

        <p>When used alongside primary buttons, they are useful for drawing the user's attention to a more preferred or recommended action.</p>

        <div id="example">
          <button class="green">get started</button>
          <button class="green-light">go back</button>
        </div>

        <div id="example">
          <button class="indigo-light">not right now</button>
          <button>sign up today</button>
        </div>

        <p>To use secondary buttons, add the <code2>.color-light</code2> class to a <code2>&lt;button&gt;</code2>. <a href="#color" class="text-link">Click here to view all colors.</a></p>

        <div id="example">
          <button class="indigo-light">secondary</button>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;button class="indigo-light"&gt;secondary&lt;/button&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <a name="input"></a>
        <h4>Input Buttons</h4>

        <p>Use input buttons in HTML forms or for activating scripts. The default <code2>&lt;input type="submit"&gt;</code2>, <code2>&lt;input type="reset"&gt;</code2>, and <code2>&lt;input type="button"&gt;</code2> all have an indigo <code2>background-color</code2>, white font <code2>color</code2>, and a subtle <code2>border-radius</code2>.</p>

        <div id="example">
          <input type="submit" value="input">
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;input type="submit" value="input"&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <a name="anchor"></a>
        <h4>Anchor Buttons</h4>

        <p>Anchor buttons are simply anchor tags that have <code2>&lt;button&gt;</code2> styling applied to them, and an arrow animation on hover.</p>

        <p>To use an anchor button, add the class <code2>.btn-link</code2> to an anchor tag.</p>

        <p>Note that for the animation to work, you must wrap the text within a <code2>&lt;span&gt;</code2>.</p>

        <div id="example">
          <a href="#0" class="btn-link"><span>Anchor </span></a>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;a href="#0" class="btn-link"&gt;&lt;span&gt;anchor &lt;/span&gt;&lt;/a&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <h3>Customizing Buttons</h3>

        <a name="color"></a>
        <h4>Colors</h4>

        <p>Use the <code2>.color</code2> class to change a button's <code2>background-color</code2>. indigo offers 11 different colors and 21 different color styles.</p>

        <p>The <code2>.color</code2> class will apply to any button, whether it is <code2>&lt;button&gt;</code2>, <code2>&lt;input&gt;</code2>, or <code2>&lt;a class="btn-link"&gt;</code2>.</p>

        <hr>

        <p>If you choose to manually adjust the color, most components not only have <code2>background-color</code2>, they also have <code2>box-shadow</code2> and <code2>border-color</code2> properties that will need to be adjusted.</p>

        <p>More custom colors are being added soon, so stay tuned!</p>

        <div id="example">
          <button class="red">button</button>
          <button class="orange">button</button>
          <button class="gold">button</button>
          <button class="green">button</button>
          <button class="blue">button</button>
          <br>
          <input type="submit" value="input">
          <input type="submit" class="purple" value="input">
          <input type="submit" class="pink" value="input">
          <input type="submit" class="grey" value="input">
          <input type="submit" class="black" value="input">
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;button class="red"&gt;button&lt;/button&gt;
        &lt;button class="orange"&gt;button&lt;/button&gt;
        &lt;button class="gold"&gt;button&lt;/button&gt;
        &lt;button class="green"&gt;button&lt;/button&gt;
        &lt;button class="blue"&gt;button&lt;/button&gt;
        &lt;input type="submit" value="input"&gt;
        &lt;input type="submit" class="purple" value="input"&gt;
        &lt;input type="submit" class="pink" value="input"&gt;
        &lt;input type="submit" class="grey" value="input"&gt;
        &lt;input type="submit" class="black" value="input"&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <p>Colors can help convey different meanings depending on the context.</p>

        <div id="example">
          <button class="red">danger</button>
          <button class="gold">Caution</button>
          <button class="green">Success</button>
          <br>
          <button class="purple">click me!</button>
          <button class="blue">questions?</button>
          <button class="grey">inactive</button>
        </div>

        <p>Use the <code2>.color-light</code2> class to change a button's <code2>background-color</code2>, font <code2>color</code2>, and <code2>border-color</code2> for an inverted color scheme.</p>

        <p>The <code2>.color-light</code2> class will apply to any button, whether it is <code2>&lt;button&gt;</code2>, <code2>&lt;input&gt;</code2>, or <code2>&lt;a class="btn-link"&gt;</code2>.</p>

        <div id="example">
          <button class="red-light">button</button>
          <button class="orange-light">button</button>
          <button class="gold-light">button</button>
          <button class="green-light">button</button>
          <button class="blue-light">button</button>
          <br>
          <a href="#0" class="btn-link indigo-light"><span>anchor </span></a>
          <a href="#0" class="btn-link purple-light"><span>anchor </span></a>
          <a href="#0" class="btn-link pink-light"><span>anchor </span></a>
          <a href="#0" class="btn-link grey-light"><span>anchor </span></a>
          <a href="#0" class="btn-link black-light"><span>anchor </span></a>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;button class="red-light"&gt;button&lt;/button&gt;
        &lt;button class="orange-light"&gt;button&lt;/button&gt;
        &lt;button class="gold-light"&gt;button&lt;/button&gt;
        &lt;button class="green-light"&gt;button&lt;/button&gt;
        &lt;button class="blue-light"&gt;button&lt;/button&gt;
        &lt;a href="#0" class="btn-link indigo-light"&gt;&lt;span&gt;anchor &lt;/span&gt;&lt;/a&gt;
        &lt;a href="#0" class="btn-link purple-light"&gt;&lt;span&gt;anchor &lt;/span&gt;&lt;/a&gt;
        &lt;a href="#0" class="btn-link pink-light"&gt;&lt;span&gt;anchor &lt;/span&gt;&lt;/a&gt;
        &lt;a href="#0" class="btn-link grey-light"&gt;&lt;span&gt;anchor &lt;/span&gt;&lt;/a&gt;
        &lt;a href="#0" class="btn-link black-light"&gt;&lt;span&gt;anchor &lt;/span&gt;&lt;/a&gt;
     &lt;/div&gt;
          </code>
        </pre>

        <h5>Ghost Buttons</h5>

        <p>Use the <code2>.ghost</code2> class for a transparent <code2>background-color</code2>, white font <code2>color</code2>, and white <code2>border-color</code2>.</p>

        <p>The <code2>.ghost</code2> class will apply to any button, whether it is <code2>&lt;button&gt;</code2>, <code2>&lt;input&gt;</code2>, or <code2>&lt;a class="btn-link"&gt;</code2>.</p>

        <p>Ghost buttons are most effective when paired with high-contrast background colors or images that won't clash with the button's text.</p>

        <div class="backdrop" id="example">
          <button class="ghost">ghost</button>
          <button class="ghost med-btn">ghost</button>
          <button class="ghost lrg-btn">ghost</button>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;button class="ghost"&gt;ghost&lt;/button&gt;
        &lt;button class="ghost med-btn"&gt;ghost&lt;/button&gt;
        &lt;button class="ghost lrg-btn"&gt;ghost&lt;/button&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <a name="size"></a>
        <h4>Sizes</h4>

        <p>All button types come in three sizes: small (default), medium, and large.</p>

        <p>Use the following classes for sizing up <code2>&lt;button&gt;</code2> and <code2>&lt;input&gt;</code2> - Medium: <code2>.med-btn</code2>, Large: <code2>.lrg-btn</code2></p>

        <p>Use the following classes for sizing up <code2>&lt;a class="btn-link"&gt;</code2> - Medium: <code2>.med-btn-link</code2>, Large:  <code2>.lrg-btn-link</code2>.</p>

        <p>Note that size classes are to be used in addition to the base class of the button.</p>

        <div id="example">
          <button class="purple">small</button>
          <input type="submit" class="purple med-btn" value="medium">
          <a href="#0" class="purple btn-link lrg-btn-link"><span>large </span></a>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;button class="purple">small&lt;/button&gt;
        &lt;input type="submit" class="purple med-btn" value="medium"&gt;
        &lt;a href="#0" class="purple btn-link lrg-btn-link"&gt;&lt;span&gt;large &lt;/span&gt;&lt;/a&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <a name="style"></a>
        <h4>Styles</h4>

        <h5>Square Buttons</h5>

        <p>Use the <code2>.square</code2> class to give buttons squared, sharp edges.</p>

        <p>The <code2>.square</code2> class will apply to any button, whether it is <code2>&lt;button&gt;</code2>, <code2>&lt;input&gt;</code2>, or <code2>&lt;a class="btn-link"&gt;</code2>.</p>

        <div id="example">
          <button class="green-light square">square</button>
          <button class="blue square med-btn">square</button>
          <button class="indigo-light square lrg-btn">square</button>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;button class="green-light square"&gt;squared&lt;/button&gt;
        &lt;button class="blue square med-btn"&gt;squared&lt;/button&gt;
        &lt;button class="indigo-light square lrg-btn"&gt;squared&lt;/button&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <h5>Pill Buttons</h5>

        <p>Use the <code2>.pill</code2> class for a pill-shaped button with rounded edges.</p>

        <p>The <code2>.pill</code2> class will apply to any button, whether it is <code2>&lt;button&gt;</code2>, <code2>&lt;input&gt;</code2>, or <code2>&lt;a class="btn-link"&gt;</code2>.</p>

        <div id="example">
          <button class="red-light pill">round</button>
          <button class="orange pill med-btn">round</button>
          <button class="gold-light pill lrg-btn">round</button>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;button class="red-light pill"&gt;round&lt;/button&gt;
        &lt;button class="orange pill med-btn"&gt;round&lt;/button&gt;
        &lt;button class="gold-light pill lrg-btn"&gt;round&lt;/button&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <hr class="bottom">

        <a href="#top" class="btn-link indigo-light"><span>Back To Top </span></a>

      </div>


    </div>
  </body>
</html>
