<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive, Mobile-First CSS</title>
    <link rel="stylesheet" href="grid.css">
    <link rel="stylesheet" href="normalize.css">
  </head>
  <body>

    <div class="row">
      <div class="col-12">
        <p>twelve</p>
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <p>one</p>
      </div>
      <div class="col-11">
        <p>eleven</p>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <p>two</p>
      </div>
      <div class="col-10">
        <p>ten</p>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <p>three</p>
      </div>
      <div class="col-9">
        <p>nine</p>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <p>four</p>
      </div>
      <div class="col-8">
        <p>eight</p>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <p>five</p>
      </div>
      <div class="col-7">
        <p>seven</p>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <p>six</p>
      </div>
      <div class="col-6">
        <p>six</p>
      </div>
    </div>

    <div class="row">
      <div class="col-7">
        <p>seven</p>
      </div>
      <div class="col-5">
        <p>five</p>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <p>eight</p>
      </div>
      <div class="col-4">
        <p>four</p>
      </div>
    </div>

    <div class="row">
      <div class="col-9">
        <p>nine</p>
      </div>
      <div class="col-3">
        <p>three</p>
      </div>
    </div>

    <div class="row">
      <div class="col-10">
        <p>ten</p>
      </div>
      <div class="col-2">
        <p>two</p>
      </div>
    </div>

    <div class="row">
      <div class="col-11">
        <p>eleven</p>
      </div>
      <div class="col-1">
        <p>one</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p>twelve</p>
      </div>
    </div>

  </body>
</html>

<!--
If you want medium, large, and xlarge to be the same, you only need to specify medium.
If you want all sizes to be the same width, you only need to specify small.
If specifying small, you must comment out the line "width: 100%"
If you want small and medium to match, and large and xlarge to match, you only need to specify small and large.
If you don't specify small, it will default to 100%.
-->
