<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indigo CSS</title>

    <!-- Favicon -->
    <link rel=icon href="/static/images/branch-16.png">

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/markup.css">
    <link rel="stylesheet" href="/static/css/grid.css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <style>
      h1 {font-weight: 400; margin-bottom: 5%;}
      body {text-align: center; background-color: rgba(83,109,254,1);}
      #home-top {margin-top: 15%;}
      #social {margin-top: 5%; margin-bottom: 10%;}

    </style>

    <!-- Javascripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
  </head>
  <body>

    <!--- BEGINNING OF TOP NAVBAR --->

    <nav id="navbar" class="fixed">
      <ul class="navbar">
        <li><a href="http://www.indigocss.com"><img class="logo" src="/static/images/branch-26.png" alt="logo" href="/"></a></li>
        <li><a href="http://www.indigocss.com" class="nav-link">Home</a></li>
        <li><a href="http://www.indigocss.com/templates/components.html" class="nav-link">Components</a></li>
        <li><a href="http://www.indigocss.com/templates/about.html" class="nav-link">About</a></li>
      </ul>
    </nav>
    <div id="nav-trigger" class="fixed">
        <span></span>
        <nav id="nav-mobile"></nav>
    </div>

    <!--- END OF TOP NAVBAR --->


    <!-- Main Content -->

    <div id="container">
      <div class="corner-ribbon bottom-right stuck">
        <a href="http://www.indigocss.com/templates/components.html">Free Download</a>
      </div>
      <div id="home-top">
        <h1 style="color: white !important;">Lightweight. Responsive. Modern.</h1>

        <div class="tooltip">
          <button class="black">Download</button>
          <span class="tooltiptext top">
            Coming Soon!
          </span>
        </div>
        <a href="http://www.indigocss.com/templates/components.html"><button class="white-light">Learn More</button></a>

      </div>

      <!-- Social Media Links -->

      <div id="social">
        <hr>
        <button class="tiny-btn blue"><i class="fa fa-twitter" aria-hidden="true"></i> Tweet</button>
        <button class="tiny-btn blue"><i class="fa fa-twitter" aria-hidden="true"></i> Follow</button>
        <button class="tiny-btn black"><i class="fa fa-star" aria-hidden="true"></i> Star</button>
        <button class="tiny-btn black"><i class="fa fa-github" aria-hidden="true"></i> Fork</button>
      </div>

      <p style="font-size: 16px; color: white; margin-bottom: 0">Copyright 2016-2017 Indigo. All Rights Reserved.</p>

    </div>
  </body>
</html>
