<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>indigo.css - tags</title>
    <link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/markup.css">
    <script type="text/javascript" src="/static/js/app.js"></script>
    <style>

      /*TAGS-PAGE-ONLY STYLING*/

      @media only screen
        and (min-device-width: 320px)
        and (max-device-width: 480px) {
          container {
            width: 100%;
          }
          tag {
            display: inline-block;
            margin: 1% 0;
          }
          #example {
            font-size: 0.8em;
          }
        }

      @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px) {
          container {
            width: 100%;
          }
          #example {
            padding: 2% 0;
          }
        }

    </style>
  </head>
  <body>

    <!--- Animated Side Nav Styling --->

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#usage">Usage</a>
      <a href="#color">Colors</a>
      <a href="#size">Sizing</a>
      <a href="#style">Styles</a>
    </div>

    <!-- Add all page content inside "main" div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">

      <!--- Top Navbar --->

      <ul class="topnav" id="myTopnav">
        <li onclick="openNav()"><a style="cursor: pointer;">&#9776;</a></li>
        <li class="brand"><a href="/">indigo.css</a></li>
        <li><a href="/buttons">Buttons</a></li>
        <li><a href="/labels">Labels</a></li>
        <li class="icon">
          <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
        </li>
      </ul>

      <div id="container">

        <a name="usage">Anchor: Usage</a>

        <h1>Tags</h1>
        <hr>

        <p>The default <code2>&lt;tag&gt;</code2> is indigo with white text and slightly rounded edges.</p>

        <div id="example">
          <tag>default tag</tag>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;tag&gt;default tag&lt;/tag&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <p>Use tags to style and emphasize keywords that enable searching or navigating.</p>

        <div id="example">
          <tag class="black">html5</tag>
          <tag class="black">css3</tag>
          <tag class="black">javascript</tag>
          <tag class="black">ui / ux</tag>
          <tag class="black">front-end</tag>
          <tag class="black">web dev</tag>
          <tag class="black">web design</tag>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;tag class="black"&gt;html5&lt;/tag&gt;
        &lt;tag class="black"&gt;css3&lt;/tag&gt;
        &lt;tag class="black"&gt;javascript&lt;/tag&gt;
        &lt;tag class="black"&gt;ui / ux&lt;/tag&gt;
        &lt;tag class="black"&gt;front-end&lt;/tag&gt;
        &lt;tag class="black"&gt;web dev&lt;/tag&gt;
        &lt;tag class="black"&gt;web design&lt;/tag&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <p>Tags also work well as miniature buttons for tiny user interfaces.</p>

        <div id="example">
          <b>Get Started Today!</b>
          <tag>Sign Me Up</tag>
          <tag class="grey">No Thanks</tag>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        Get Started Today!
        &lt;tag&gt;Sign Me Up&lt;/tag&gt;
        &lt;tag class="grey"&gt;No Thanks&lt;/tag&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <div id="example">
          <b>Follow Me:</b>
          <tag class="red">Pinterest</tag>
          <tag class="blue">Twitter</tag>
          <tag class="black">GitHub</tag>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        Follow Me
        &lt;tag class="red">Pinterest&lt;/tag>
        &lt;tag class="blue">Twitter&lt;/tag>
        &lt;tag class="black">GitHub&lt;/tag>
      &lt;/div&gt;
          </code>
        </pre>

        <h4>Customizing Tags</h4>
        <hr>
        <a name="color">Anchor: Colors</a>

        <p>Use the <code2>color</code2> class to change the background color of the tag.</p>

        <div id="example">
          <tag class="red">red</tag>
          <tag class="orange">orange</tag>
          <tag class="gold">gold</tag>
          <tag class="green">green</tag>
          <tag class="blue">blue</tag>
          <tag>indigo</tag>
          <tag class="purple">purple</tag>
          <tag class="pink">pink</tag>
          <tag class="grey">grey</tag>
          <tag class="black">black</tag>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;tag class="red"&gt;red&lt;/tag&gt;
        &lt;tag class="orange"&gt;orange&lt;/tag&gt;
        &lt;tag class="gold"&gt;gold&lt;/tag&gt;
        &lt;tag class="green"&gt;green&lt;/tag&gt;
        &lt;tag class="blue"&gt;blue&lt;/tag&gt;
        &lt;tag&gt;indigo&lt;/tag&gt;
        &lt;tag class="purple"&gt;purple&lt;/tag&gt;
        &lt;tag class="pink"&gt;pink&lt;/tag&gt;
        &lt;tag class="grey"&gt;grey&lt;/tag&gt;
        &lt;tag class="black"&gt;black&lt;/tag&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <p>Use the <code2>color-light</code2> class for an inverted color scheme.</p>

        <div id="example">
          <tag class="red-light">red</tag>
          <tag class="orange-light">orange</tag>
          <tag class="gold-light">gold</tag>
          <tag class="green-light">green</tag>
          <tag class="blue-light">blue</tag>
          <tag class="indigo-light">indigo</tag>
          <tag class="purple-light">purple</tag>
          <tag class="pink-light">pink</tag>
          <tag class="grey-light">grey</tag>
          <tag class="black-light">black</tag>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;tag class="red-light"&gt;red&lt;/tag&gt;
        &lt;tag class="orange-light"&gt;orange&lt;/tag&gt;
        &lt;tag class="gold-light"&gt;gold&lt;/tag&gt;
        &lt;tag class="green-light"&gt;green&lt;/tag&gt;
        &lt;tag class="blue-light"&gt;blue&lt;/tag&gt;
        &lt;tag class="indigo-light"&gt;indigo&lt;/tag&gt;
        &lt;tag class="purple-light"&gt;purple&lt;/tag&gt;
        &lt;tag class="pink-light"&gt;pink&lt;/tag&gt;
        &lt;tag class="grey-light"&gt;grey&lt;/tag&gt;
        &lt;tag class="black-light"&gt;black&lt;/tag&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <a name="size">Anchor: Sizes</a>

        <p>Tags have two additional size classes: <code2>big-tag</code2> and <code2>huge-tag</code2>.</p>

        <div id="example">
          <tag class="purple">default</tag>
          <tag class="purple big-tag">large</tag>
          <tag class="purple huge-tag">jumbo</tag>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;tag class="purple"&gt;default&lt;/tag&gt;
        &lt;tag class="purple big-tag"&gt;large&lt;/tag&gt;
        &lt;tag class="purple huge-tag"&gt;jumbo&lt;/tag&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <a name="style">Anchor: Styles</a>

        <p>Use the <code2>square</code2> class to give the tag squared, sharp edges.</p>

        <div id="example">
          <tag class="green-light square">squared</tag>
          <tag class="blue square big-tag">squared</tag>
          <tag class="indigo-light square huge-tag">squared</tag>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;tag class="green-light square"&gt;squared&lt;/tag&gt;
        &lt;tag class="blue square big-tag"&gt;squared&lt;/tag&gt;
        &lt;tag class="indigo-light square huge-tag"&gt;squared&lt;/tag&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <p>Use the <code2>pill</code2> class to give the tag a pill shape with rounded edges.</p>

        <div id="example">
          <tag class="red-light pill">rounded</tag>
          <tag class="orange pill big-tag">rounded</tag>
          <tag class="gold-light pill huge-tag">rounded</tag>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;tag class="red-light pill"&gt;rounded&lt;/tag&gt;
        &lt;tag class="orange pill big-tag"&gt;rounded&lt;/tag&gt;
        &lt;tag class="gold-light pill huge-tag"&gt;rounded&lt;/tag&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <p>Use the <code2>raised</code2> class to give the tag shadows and a raised effect.</p>

        <div id="example">
          <tag class="pink raised square">raised</tag>
          <tag class="pink raised square big-tag">raised</tag>
          <tag class="pink raised square huge-tag">raised</tag>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;tag class="pink raised square"&gt;raised&lt;/tag&gt;
        &lt;tag class="pink raised square big-tag"&gt;raised&lt;/tag&gt;
        &lt;tag class="pink raised square huge-tag"&gt;raised&lt;/tag&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <p>Use the <code2>disabled</code2> class to indicate the tag is inactive...</p>

        <div id="example">
          <tag class="blue pill big-tag disabled">yesterday</tag>
          <tag class="blue pill big-tag">today</tag>
          <tag class="blue pill big-tag disabled">tomorrow</tag>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;tag class="blue pill big-tag disabled"&gt;yesterday&lt;/tag&gt;
        &lt;tag class="blue pill big-tag"&gt;today&lt;/tag&gt;
        &lt;tag class="blue pill huge-tag disabled"&gt;tomorrow&lt;/tag&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <p>... or to put emphasis on a more preferred element.</p>

        <div id="example">
          <tag class="grey big-tag disabled">Go Back</tag>
          <tag class="green big-tag raised">Check Out</tag>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;tag class="grey big-tag disabled"&gt;Go Back&lt;/tag&gt;
        &lt;tag class="green big-tag raised"&gt;Check Out&lt;/tag&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <p>Use the <code2>ghost</code2> class to give the tag a transparent look.</p>

        <p>These are most effective when paired with high-contrast background colors or images that won't clash with the tag's text.</p>

        <div class="backdrop" id="example">
          <tag class="ghost">ghost tag</tag>
          <tag class="ghost big-tag">ghost tag</tag>
          <tag class="ghost huge-tag">ghost tag</tag>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;tag class="ghost"&gt;ghost tag&lt;/tag&gt;
        &lt;tag class="ghost big-tag"&gt;ghost tag&lt;/tag&gt;
        &lt;tag class="ghost huge-tag"&gt;ghost tag&lt;/tag&gt;
      &lt;/div&gt;
          </code>
        </pre>

      </div>
    </div>
  </body>
</html>
