<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>indigo.css - tags</title>
    <link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/markup.css">
    <script type="text/javascript" src="/static/js/app.js"></script>
    <style>

      /*TAGS-PAGE-ONLY STYLING*/

      h4 {color: rgba(83,109,254,1);}

      #container {margin-bottom: 5%;}

      #example {padding: 1% 0;}

      div#example sticky, div#example button, div#example input[type=submit], div#example a.btn-link, div#example tag, div#example badge {
        margin: 1% 0.25%;
        vertical-align: top;
        display: inline-block;
      }

      i.fa-pinterest, i.fa-twitter, i.fa-reddit, i.fa-facebook, i.fa-github {
        font-size: inherit;
      }

      /*PHONES*/
      @media only screen
        and (min-device-width: 320px)
        and (max-device-width: 480px) {
          tag {display: inline-block; margin: 1.5% 1%;}
          h1 {font-size: 1.6em;}
          h3 {font-size: 1.45em;}
          h4 {font-size: 1.3em;}
          h5 {font-size: 1.125em;}
          button {display: inline-block; margin: 1%;}
          .btn-link, .btn-link-light {display: inline-block; margin: 2%;}
          .raised {margin: 2% 1%;}
          #example {padding: 2.5% 0;}
        }

      /*TABLETS*/
      @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px) {
          tag {display: inline-block; margin: 1.5% 0.5%;}
          .btn-link, .btn-link-light {display: inline-block; margin: 2%;}
          #example {padding: 1% 0;}
          .raised {margin: 2% 1%;}
        }

    </style>
  </head>
  <body>

    <!--- Animated Side Nav Styling --->

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#top">Top</a>
      <a href="#usage">Usage</a>
      <a href="#color">Colors</a>
      <a href="#size">Sizes</a>
      <a href="#style">Styles</a>
    </div>

    <!-- Add all page content inside "main" div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">

      <!--- Top Navbar --->

      <ul class="topnav" id="myTopnav">
        <li onclick="openNav()"><a style="cursor: pointer;">&#9776;</a></li>
        <li class="brand"><a href="/">indigo.css</a></li>
        <li><a href="/components">components</a></li>
        <li><a href="/about">about</a></li>
        <li class="icon">
          <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
        </li>
      </ul>

      <a name="top"></a>

      <div id="container">

        <a class="btn-link indigo-light" href="/components"><span>components </span></a>

        <h1>Tag Buttons</h1>

        <p>This page contains everything you need to know about indigo's tag buttons. Use the side navigation to skip to different sections.</p>

        <div id="example">
          <tag class="square">tag</tag>
          <tag class="square med-tag">tag</tag>
          <tag class="square lrg-tag">tag</tag>
          <tag class="square lrg-tag indigo-light">tag</tag>
          <tag class="square med-tag indigo-light">tag</tag>
          <tag class="square indigo-light">tag</tag>
          <br>
          <tag class="pill">tag</tag>
          <tag class="pill med-tag">tag</tag>
          <tag class="pill lrg-tag">tag</tag>
          <tag class="pill lrg-tag indigo-light">tag</tag>
          <tag class="pill med-tag indigo-light">tag</tag>
          <tag class="pill indigo-light">tag</tag>
          <br>
          <tag>tag</tag>
          <tag class="med-tag">tag</tag>
          <tag class="lrg-tag">tag</tag>
          <tag class="indigo-light lrg-tag">tag</tag>
          <tag class="indigo-light med-tag">tag</tag>
          <tag class="indigo-light">tag</tag>
        </div>

        <a name="usage"></a>
        <h4>Usage</h4>

        <p>The default <code2>&lt;tag&gt;</code2> has an indigo <code2>background-color</code2>, white font <code2>color</code2>, and a subtle <code2>border-radius</code2>.</p>

        <p>Tags have the exact same functionality as normal buttons, the major difference that tags are smaller and thus better suited for specific scenarios.</p>

        <div id="example">
          <tag>default</tag>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;tag&gt;default&lt;/tag&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <p>Use tags to style and emphasize keywords related to an item, such as an article or a recipe, that enable searching or navigating your site or app.</p>

        <div id="example">
          <p><b>Why Buttons Are The Coolest</b></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores odio similique, fugit excepturi.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores odio similique, fugit excepturi.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores odio similique, fugit excepturi.</p>
          <tag class="black">html5</tag>
          <tag class="black">css3</tag>
          <tag class="black">javascript</tag>
          <tag class="black">ui / ux</tag>
          <tag class="black">front-end</tag>
          <tag class="black">web dev</tag>
          <tag class="black">web design</tag>
        </div>

        <div id="example">
          <p><b>Strawberry Cupcakes Recipe</b></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores odio similique, fugit excepturi.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores odio similique, fugit excepturi.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores odio similique, fugit excepturi.</p>
          <tag class="pink">baking</tag>
          <tag class="pink">recipe</tag>
          <tag class="pink">cupcakes</tag>
          <tag class="pink">frosting</tag>
          <tag class="pink">strawberry</tag>
          <tag class="pink">vegan</tag>
          <tag class="pink">dessert</tag>
        </div>

        <p>Tags also work well as miniature buttons for tiny user interfaces...</p>

        <div id="example">
          <b>Get Started Today!</b>
          <br>
          <tag class="green">Sign Me Up</tag>
          <tag class="grey">Read Reviews</tag>
        </div>

        <p>...and their small size is well-suited for social media buttons.</p>

        <p><a href="http://fontawesome.io/" class="text-link">Font Awesome Icons</a> work great with indigo's CSS components. You may need to manually adjust <code2>margin</code2> for the icons to align properly.</p>

        <div id="example">
          <b>Follow Me!</b>
          <br>
          <tag class="red"><i class="fa fa-pinterest"></i> Pinterest</tag>
          <tag class="blue"><i class="fa fa-twitter"></i> Twitter</tag>
          <tag class="black"><i class="fa fa-github"></i> GitHub</tag>
          <tag><i class="fa fa-facebook"></i> Facebook</tag>
          <tag class="orange"><i class="fa fa-reddit"></i> Reddit</tag>
        </div>

        <div id="example">
          <b>Follow Me!</b>
          <br>
          <tag class="black lrg-tag"><i class="fa fa-instagram" style="font-size: 18px; margin: 1px 0 0 1px;"></i></tag>
          <tag class="black lrg-tag"><i class="fa fa-twitter" style="font-size: 18px; margin: 1px 0 0 1px;"></i></tag>
          <tag class="black lrg-tag"><i class="fa fa-github" style="font-size: 18px; margin: 1px 0 0 1px;"></i></tag>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;tag class="red"&gt;&lt;i class="fa fa-pinterest"&gt;&lt;/i&gt; Pinterest&lt;/tag&gt;
        &lt;tag class="blue"&gt;&lt;i class="fa fa-twitter"&gt;&lt;/i&gt; Twitter&lt;/tag&gt;
        &lt;tag class="black"&gt;&lt;i class="fa fa-github"&gt;&lt;/i&gt; GitHub&lt;/tag&gt;
        &lt;tag&gt;&lt;i class="fa fa-facebook"&gt;&lt;/i&gt; Facebook&lt;/tag&gt;
        &lt;tag class="orange"&gt;&lt;i class="fa fa-reddit"&gt;&lt;/i&gt; Reddit&lt;/tag&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <h3>Customizing Tags</h3>

        <a name="color"></a>
        <h4>Colors</h4>

        <p>Use the <code2>.color</code2> class to change a tag's <code2>background-color</code2>. indigo offers 11 different colors and 21 different color styles.</p>

        <p>If you choose to manually adjust the color, most components not only have <code2>background-color</code2>, they also have <code2>box-shadow</code2> and <code2>border-color</code2> properties that will need to be adjusted.</p>

        <p>More custom colors are being added soon, so stay tuned!</p>

        <div id="example">
          <tag class="red">red</tag>
          <tag class="orange">orange</tag>
          <tag class="gold">gold</tag>
          <tag class="green">green</tag>
          <tag class="blue">blue</tag>
          <tag>indigo</tag>
          <tag class="purple">purple</tag>
          <tag class="pink">pink</tag>
          <tag class="grey">grey</tag>
          <tag class="black">black</tag>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;tag class="red"&gt;red&lt;/tag&gt;
        &lt;tag class="orange"&gt;orange&lt;/tag&gt;
        &lt;tag class="gold"&gt;gold&lt;/tag&gt;
        &lt;tag class="green"&gt;green&lt;/tag&gt;
        &lt;tag class="blue"&gt;blue&lt;/tag&gt;
        &lt;tag&gt;indigo&lt;/tag&gt;
        &lt;tag class="purple"&gt;purple&lt;/tag&gt;
        &lt;tag class="pink"&gt;pink&lt;/tag&gt;
        &lt;tag class="grey"&gt;grey&lt;/tag&gt;
        &lt;tag class="black"&gt;black&lt;/tag&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <p>Use the <code2>.color-light</code2> class to change a tag's <code2>background-color</code2>, font <code2>color</code2>, and <code2>border-color</code2>.</p>

        <div id="example">
          <tag class="red-light">red</tag>
          <tag class="orange-light">orange</tag>
          <tag class="gold-light">gold</tag>
          <tag class="green-light">green</tag>
          <tag class="blue-light">blue</tag>
          <tag class="indigo-light">indigo</tag>
          <tag class="purple-light">purple</tag>
          <tag class="pink-light">pink</tag>
          <tag class="grey-light">grey</tag>
          <tag class="black-light">black</tag>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;tag class="red-light"&gt;red&lt;/tag&gt;
        &lt;tag class="orange-light"&gt;orange&lt;/tag&gt;
        &lt;tag class="gold-light"&gt;gold&lt;/tag&gt;
        &lt;tag class="green-light"&gt;green&lt;/tag&gt;
        &lt;tag class="blue-light"&gt;blue&lt;/tag&gt;
        &lt;tag class="indigo-light"&gt;indigo&lt;/tag&gt;
        &lt;tag class="purple-light"&gt;purple&lt;/tag&gt;
        &lt;tag class="pink-light"&gt;pink&lt;/tag&gt;
        &lt;tag class="grey-light"&gt;grey&lt;/tag&gt;
        &lt;tag class="black-light"&gt;black&lt;/tag&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <h5>Ghost Tags</h5>

        <p>Use the <code2>.ghost</code2> class for a transparent <code2>background-color</code2>, white font <code2>color</code2>, and white <code2>border-color</code2>.</p>

        <p>Transparent tags are most effective when paired with high-contrast background colors or images that won't clash with the tag's text.</p>

        <div class="backdrop" id="example">
          <tag class="ghost">ghost</tag>
          <tag class="ghost med-tag">ghost</tag>
          <tag class="ghost lrg-tag">ghost</tag>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;tag class="ghost"&gt;ghost&lt;/tag&gt;
        &lt;tag class="ghost med-tag"&gt;ghost&lt;/tag&gt;
        &lt;tag class="ghost lrg-tag"&gt;ghost&lt;/tag&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <a name="size"></a>
        <h4>Sizes</h4>

        <p>Tags come in three sizes: small (default), medium, and large.</p>

        <p>Small: <code2>&lt;tag&gt;</code2>, Medium: <code2>.med-tag</code2>, Large: <code2>.lrg-tag</code2></p>

        <div id="example">
          <tag class="purple">small</tag>
          <tag class="purple med-tag">medium</tag>
          <tag class="purple lrg-tag">large</tag>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;tag class="purple"&gt;small&lt;/tag&gt;
        &lt;tag class="purple med-tag"&gt;medium&lt;/tag&gt;
        &lt;tag class="purple lrg-tag"&gt;large&lt;/tag&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <a name="style"></a>
        <h4>Styles</h4>

        <h5>Square Tags</h5>

        <p>Use the <code2>.square</code2> class to give tags squared, sharp edges.</p>

        <div id="example">
          <tag class="green-light square">square</tag>
          <tag class="blue square med-tag">square</tag>
          <tag class="indigo-light square lrg-tag">square</tag>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;tag class="green-light square"&gt;square&lt;/tag&gt;
        &lt;tag class="blue square med-tag"&gt;square&lt;/tag&gt;
        &lt;tag class="indigo-light square lrg-tag"&gt;square&lt;/tag&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <h5>Pill Tags</h5>

        <p>Use the <code2>.pill</code2> class for a pill-shaped tag with rounded edges.</p>

        <div id="example">
          <tag class="red-light pill">round</tag>
          <tag class="orange pill med-tag">round</tag>
          <tag class="gold-light pill lrg-tag">round</tag>
        </div>

        <pre>
          <code>
      &lt;div&gt;
        &lt;tag class="red-light pill"&gt;round&lt;/tag&gt;
        &lt;tag class="orange pill med-tag"&gt;round&lt;/tag&gt;
        &lt;tag class="gold-light pill lrg-tag"&gt;round&lt;/tag&gt;
      &lt;/div&gt;
          </code>
        </pre>

        <hr>

        <a href="#top" class="btn-link indigo-light"><span>Back To Top </span></a>

      </div>



    </div>
  </body>
</html>
